In [ ]:
! pip install kss konlpy
import nltk, kss, konlpy
from konlpy.tag import Okt # 한국어 단어 토크나이저

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kss in /usr/local/lib/python3.7/dist-packages (3.4.3)
Requirement already satisfied: konlpy in /usr/local/lib/python3.7/dist-packages (0.6.0)
Requirement already satisfied: regex in /usr/local/lib/python3.7/dist-packages (from kss) (2022.6.2)
Requirement already satisfied: emoji==1.2.0 in /usr/local/lib/python3.7/dist-packages (from kss) (1.2.0)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.7/dist-packages (from kss) (8.13.0)
Requirement already satisfied: JPype1>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (1.4.0)
Requirement already satisfied: numpy>=1.6 in /usr/local/lib/python3.7/dist-packages (from konlpy) (1.21.6)
Requirement already satisfied: lxml>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (4.9.1)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from JPype1>=0.7.0->konlpy) (4.1.1)

In [ ]:

t_data = '나는 오늘은 습기가 높아서 슬퍼 강의는 잘 듣고 있니?'
tk = Okt()

In [ ]:
def 문장_처리(in_t):
    입력문자 = in_t.replace('?','')
    토큰_data= tk.morphs(입력문자) #모프,전체부르기?      
    단어집합 = {}    #보캐만들기
    단어빈도수 = []
    for 단어 in 토큰_data:
        if 단어 not in 단어집합 : #단어집합 딕셔너리에 없다면 # 딕셔너리에키값으로
            단어집합[단어] = len(단어집합)  # 키와밸류 추가
            단어빈도수.insert(len(단어집합)-1 , 1) # insert    # 1:처음들어가니까
        else:
            단어인덱스 = 단어집합.get(단어)  # 단어의 인덱스 # get 밸류뽑아오는
            단어빈도수[단어인덱스] += 1 #횟수 기록
    return 단어집합, 단어빈도수 #튜플로 두개 리턴

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
t_t = t_data.replace('?','')
bv = CountVectorizer()
bv.fit_transform([t_t]).toarray()

array([[1, 1, 1, 1, 1, 1, 1, 1]])

In [ ]:
문서 = [ '나는 강의는 어려워', '나는 날씨가 덥고 습기가 많아', '나는 오늘은 그냥 있니?' , '나는 수업은 듣고 있니?' ]

In [ ]:
bv.vocabulary_

{'강의는': 0, '나는': 1, '높아서': 2, '듣고': 3, '슬퍼': 4, '습기가': 5, '오늘은': 6, '있니': 7}

In [ ]:
# DTM 행렬 / BOW빈도
bv.transform(문서).toarray()

array([[1, 1, 0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 1, 0, 0],
       [0, 1, 0, 0, 0, 0, 1, 1],
       [0, 1, 0, 1, 0, 0, 0, 1]])

In [ ]:
bv2 = CountVectorizer(stop_words=['나는']) #불용어=나는
bv2.fit_transform(문서).toarray()

array([[1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
       [0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1],
       [0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1]])

In [ ]:
bv2.vocabulary_ # '나는'이 없다

{'강의는': 0,
 '그냥': 1,
 '날씨가': 2,
 '덥고': 3,
 '듣고': 4,
 '많아': 5,
 '수업은': 6,
 '습기가': 7,
 '어려워': 8,
 '오늘은': 9,
 '있니': 10}

TF-IDF    #단어마다 가중치를 다르게 주는 것

In [ ]:
t_data = [ 
    '공부 하고 싶다' ,
    '공부 하고 싫다' ,
    '공부 내일 할까' ,
    '공부 하고 놀기' ,
    '놀기 말고 놀자' ] 

from math import log
import pandas as pd

In [ ]:
vos = list(set( 단어 for 문장 in t_data for 단어 in 문장.split())) # 중복방지를위한set
vos

['할까', '하고', '내일', '싫다', '공부', '놀기', '말고', '놀자', '싶다']

In [ ]:
type(vos),type(t_data)

(list, list)

In [ ]:
len(vos), len(t_data)

(9, 5)

In [ ]:
import pandas as pd
pd.DataFrame(t_data)

          0
0  공부 하고 싶다
1  공부 하고 싫다
2  공부 내일 할까
3  공부 하고 놀기
4  놀기 말고 놀자

In [ ]:
pd.DataFrame(vos)

    0
0  할까
1  하고
2  내일
3  싫다
4  공부
5  놀기
6  말고
7  놀자
8  싶다

In [ ]:
# TF-IDF  공식 코드화
n=len(t_data)
def tf(t,d):                #  tf는 몇번 나왔는지 카운트
    return d.count(t)
def idf(t):
    df=0 #횟수
    for 문장 in t_data:
        df +=  t in 문장   # 문장안에 t 가 있다면 1이 df에 전달됨
    return log(n/(df+1))                   # idf 공식    idf(d,t) = log ( n / 1+df(t) )
def tfidf(t,d):
    return tf(t,d)*idf(t)

In [ ]:
# DTM = tf table
t_l = []
for i in range(n): #문서 수 n개
    t_l.append([]) # 이차원리스트를만들기위한  #인덱스넣을칸작업
    d = t_data[i]
    for j in range(len(vos)): #vos 보캐불러셋집합
        t = vos[j]
        t_l[-1].append(tf(t,d))
import pandas as pd
tf_ = pd.DataFrame(t_l, columns = vos)
tf_  # 싶다 - 1이 하나뿐 > 문장에서 주요의미 > 가중치 높게

   싫다  놀기  공부  할까  하고  싶다  내일  말고  놀자
0   0   0   1   0   1   1   0   0   0
1   1   0   1   0   1   0   0   0   0
2   0   0   1   1   0   0   1   0   0
3   0   1   1   0   1   0   0   0   0
4   0   1   0   0   0   0   0   1   1

In [ ]:
idf_l = []
for i in range(len(vos)):
    t=vos[i]
    idf_l.append(idf(t))
idf_ = pd.DataFrame(idf_l , index=vos , columns=['IDF']) 
idf_
# 각단어별 idf  가중치를 보여준다  단어마다 weight 곱셈 = 벡터화

         IDF
싶다  0.916291
공부  0.000000
하고  0.223144
할까  0.916291
놀기  0.510826
싫다  0.916291
내일  0.916291
놀자  0.916291
말고  0.916291

In [ ]:
tf_idf_l = []
for i in range(n):
    tf_idf_l.append([])
    d = t_data[i]
    for j in range(len(vos)):
        t = vos[j]
        tf_idf_l[-1].append(tfidf(t,d))
tf_idf_ = pd.DataFrame(tf_idf_l, columns=vos )
tf_idf_             
# 데이터테이블: tf 와 idf 곱   tf-idf

,싶다,공부,하고,할까,놀기,싫다,내일,놀자,말고
0,0.916291,0.0,0.223144,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.0,0.223144,0.000000,0.000000,0.916291,0.000000,0.000000,0.000000
2,0.000000,0.0,0.000000,0.916291,0.000000,0.000000,0.916291,0.000000,0.000000
3,0.000000,0.0,0.223144,0.000000,0.510826,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.0,0.000000,0.000000,0.510826,0.000000,0.000000,0.916291,0.916291

In [ ]:
# 국소표현.이산표현  BOW DTM  TF-IDF  (임베딩도 일종의 국소표현 임베딩을 하면 된다 단 유사도검사시 TF IDF로)
# 분산표현.연속표현  Word2Vec, FastText

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
t_data

['공부 하고 싶다', '공부 하고 싫다', '공부 내일 할까', '공부 하고 놀기', '놀기 말고 놀자']

In [ ]:
# tf idf 라이브러리

In [ ]:
tfidfv = TfidfVectorizer().fit(t_data)
tfidfv.vocabulary_

{'공부': 0,
 '내일': 1,
 '놀기': 2,
 '놀자': 3,
 '말고': 4,
 '싫다': 5,
 '싶다': 6,
 '하고': 7,
 '할까': 8}

In [ ]:
tfidfv.transform(t_data).toarray()

array([[0.42395393, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.75251519, 0.5039682 , 0.        ],
       [0.42395393, 0.        , 0.        , 0.        , 0.        ,
        0.75251519, 0.        , 0.5039682 , 0.        ],
       [0.37008621, 0.65690037, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.65690037],
       [0.47330879, 0.        , 0.6778033 , 0.        , 0.        ,
        0.        , 0.        , 0.56263796, 0.        ],
       [0.        , 0.        , 0.49552379, 0.61418897, 0.61418897,
        0.        , 0.        , 0.        , 0.        ]])

In [ ]:
# tfidfv.transform(t_data).toarray().shape # 문장당9차원 9피처    > 원핫 9*9차원

(5, 9)

In [ ]:
import numpy as np
#벡터데이터 = 1차원어레이 = tensor
data1 = np.array([1,1,1,1]) # 데이터관점에서는 4차원이다 데이터관점에서는 피처수가 차원
np.linalg.norm(data1) # linalg.norm  벡터를 정규화  # 원점에서 점으로 선 긋기

2.0

In [ ]:
def cos_i(A,B): #코사인유사도 # 벡터간기울기비교 방향성이 같은지 유사도 판별  #방향같으면 1 역방향이면 -1   구십도면 0 (긍정방향/부정방향)
    return A.dot(B)/(np.linalg.norm(A)*np.linalg.norm(B))

In [ ]:
d1 = np.array( [0,5,5,5])
d2 = np.array( [0,-1,-1,-1])
cos_i(d1,d2)

-1.0

In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer  
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
data = pd.read_csv('data1.csv', low_memory=False)

In [ ]:
data = data.head(20000)
data['overview'] = data['overview'].fillna('')

In [ ]:
tfidf = TfidfVectorizer (stop_words='english') #문장가져오기
tfidf_t = tfidf.fit_transform(data['overview']) 
tfidf_t

<20000x47487 sparse matrix of type '<class 'numpy.float64'>'
	with 535909 stored elements in Compressed Sparse Row format>

In [ ]:

cos = cosine_similarity(tfidf_t, tfidf_t) # 이만*이만 값
cos.shape

(20000, 20000)

In [ ]:
data.index

RangeIndex(start=0, stop=20000, step=1)

In [ ]:
t_idx = dict(zip(data['title'], data.index ))
t_idx

{'Toy Story': 0,
 'Jumanji': 1,
 'Grumpier Old Men': 2,
 'Waiting to Exhale': 3,
 'Father of the Bride Part II': 4,
 'Heat': 14684,
 'Sabrina': 888,
 'Tom and Huck': 7,
 'Sudden Death': 8,
 'GoldenEye': 9,
 'The American President': 10,
 'Dracula: Dead and Loving It': 11,
 'Balto': 12,
 'Nixon': 13,
 'Cutthroat Island': 14,
 'Casino': 15,
 'Sense and Sensibility': 16,
 'Four Rooms': 17,
 'Ace Ventura: When Nature Calls': 18,
 'Money Train': 19,
 'Get Shorty': 20,
 'Copycat': 21,
 'Assassins': 22,
 'Powder': 23,
 'Leaving Las Vegas': 24,
 'Othello': 15347,
 'Now and Then': 26,
 'Persuasion': 14838,
 'The City of Lost Children': 28,
 'Shanghai Triad': 29,
 'Dangerous Minds': 30,
 'Twelve Monkeys': 31,
 'Wings of Courage': 32,
 'Babe': 33,
 'Carrington': 34,
 'Dead Man Walking': 35,
 'Across the Sea of Time': 36,
 'It Takes Two': 37,
 'Clueless': 38,
 'Cry, the Beloved Country': 39,
 'Richard III': 17719,
 'Dead Presidents': 41,
 'Restoration': 42,
 'Mortal Kombat': 43,
 'To Die For': 44,
 'How To Make An American Quilt': 45,
 'Se7en': 46,
 'Pocahontas': 47,
 'When Night Is Falling': 48,
 'The Usual Suspects': 49,
 'Guardian Angel': 50,
 'Mighty Aphrodite': 51,
 'Lamerica': 52,
 'The Big Green': 53,
 'Georgia': 54,
 'Kids of the Round Table': 55,
 'Home for the Holidays': 56,
 'The Postman': 1644,
 'The Confessional': 58,
 'The Indian in the Cupboard': 59,
 'Eye for an Eye': 60,
 "Mr. Holland's Opus": 61,
 "Don't Be a Menace to South Central While Drinking Your Juice in the Hood": 62,
 'Two If by Sea': 63,
 'Bio-Dome': 64,
 'Lawnmower Man 2: Beyond Cyberspace': 65,
 'Two Bits': 66,
 'French Twist': 67,
 'Friday': 68,
 'From Dusk Till Dawn': 69,
 'Fair Game': 16077,
 'Kicking and Screaming': 71,
 'Les Miserables': 72,
 'Bed of Roses': 19880,
 'Big Bully': 74,
 'Screamers': 75,
 'Nico Icon': 76,
 'The Crossing Guard': 77,
 'The Juror': 78,
 'The White Balloon': 79,
 "Things to Do in Denver When You're Dead": 80,
 "Antonia's Line": 81,
 'Once Upon a Time... When We Were Colored': 82,
 'Last Summer in the Hamptons': 83,
 'Angels and Insects': 84,
 'White Squall': 85,
 'Dunston Checks In': 86,
 'Black Sheep': 16328,
 'Nick of Time': 88,
 'The Journey of August King': 89,
 'Mary Reilly': 90,
 'Vampire in Brooklyn': 91,
 'Beautiful Girls': 92,
 'Broken Arrow': 11937,
 "A Midwinter's Tale": 94,
 'La Haine': 95,
 'Shopping': 96,
 'Heidi Fleiss: Hollywood Madam': 97,
 'City Hall': 98,
 'Bottle Rocket': 99,
 'Mr. Wrong': 100,
 'Unforgettable': 101,
 'Happy Gilmore': 102,
 'The Bridges of Madison County': 103,
 'Nobody Loves Me': 104,
 'Muppet Treasure Island': 105,
 'Catwalk': 106,
 'Headless Body in Topless Bar': 107,
 'Braveheart': 108,
 'Taxi Driver': 109,
 'Rumble in the Bronx': 110,
 'Before and After': 111,
 "Margaret's Museum": 112,
 'Happiness Is in the Field': 113,
 'Anne Frank Remembered': 114,
 "The Young Poisoner's Handbook": 115,
 'If Lucy Fell': 116,
 'Steal Big Steal Little': 117,
 'Race the Sun': 118,
 'The Boys of St. Vincent': 119,
 'Boomerang': 120,
 'Chungking Express': 121,
 'The Star Maker': 122,
 'Flirting with Disaster': 123,
 'The Neverending Story III: Escape from Fantasia': 124,
 'The Silences of the Palace': 125,
 "Jupiter's Wife": 126,
 'Pie in the Sky': 127,
 'Angela': 128,
 'Frankie Starlight': 129,
 'Jade': 130,
 'Nueba Yol': 131,
 'Sonic Outlaws': 132,
 'Down Periscope': 133,
 'From the Journals of Jean Seberg': 134,
 'Man of the Year': 11330,
 'The Neon Bible': 136,
 'Target': 8878,
 'Up Close & Personal': 138,
 'The Birdcage': 139,
 'Virgin Mary': 140,
 'The Brothers McMullen': 141,
 'Bad Boys': 9364,
 'The Amazing Panda Adventure': 143,
 'The Basketball Diaries': 144,
 'An Awfully Big Adventure': 145,
 'Amateur': 146,
 'Apollo 13': 147,
 'Rob Roy': 148,
 'The Addiction': 149,
 'Batman Forever': 150,
 'Belle de Jour': 151,
 'Beyond Rangoon': 152,
 'Blue in the Face': 153,
 'Canadian Bacon': 154,
 'Casper': 155,
 'Clockers': 156,
 'Congo': 157,
 'Crimson Tide': 158,
 'Crumb': 159,
 'Desperado': 160,
 'Devil in a Blue Dress': 161,
 'Die Hard: With a Vengeance': 162,
 'The Doom Generation': 163,
 'Feast of July': 164,
 'First Knight': 165,
 'Free Willy 2 - The Adventure Home': 166,
 'Hackers': 167,
 'Jeffrey': 168,
 'Johnny Mnemonic': 169,
 'Judge Dredd': 170,
 'Jury Duty': 171,
 'Kids': 172,
 'Living in Oblivion': 173,
 'Lord of Illusions': 174,
 'Love & Human Remains': 175,
 'Mad Love': 11620,
 'Mallrats': 177,
 'Mighty Morphin Power Rangers: The Movie': 178,
 'Moonlight and Valentino': 179,
 'Mute Witness': 180,
 'Nadja': 181,
 'The Net': 182,
 'Nine Months': 183,
 'Party Girl': 15941,
 'The Prophecy': 185,
 'Reckless': 14294,
 'Safe': 18906,
 'The Scarlet Letter': 18903,
 'The Show': 189,
 'Showgirls': 190,
 'Smoke': 191,
 'Something to Talk About': 192,
 'Species': 193,
 'The Stars Fell on Henrietta': 194,
 'Strange Days': 195,
 'The Umbrellas of Cherbourg': 196,
 'The Tie That Binds': 197,
 'Three Wishes': 198,
 'Total Eclipse': 199,
 'To Wong Foo, Thanks for Everything! Julie Newmar': 200,
 'Under Siege 2: Dark Territory': 201,
 'Unstrung Heroes': 202,
 'Unzipped': 203,
 'A Walk in the Clouds': 204,
 'Waterworld': 205,
 "White Man's Burden": 206,
 'Wild Bill': 19205,
 'The Browning Version': 10251,
 'Bushwhacked': 209,
 'Burnt by the Sun': 210,
 'Before the Rain': 211,
 'Before Sunrise': 212,
 'Billy Madison': 213,
 'The Babysitter': 214,
 'Boys on the Side': 215,
 'The Cure': 18680,
 'Castle Freak': 217,
 'Circle of Friends': 218,
 'Clerks': 219,
 'Don Juan DeMarco': 220,
 'Disclosure': 221,
 'Dream Man': 222,
 'Drop Zone': 223,
 'Destiny Turns on the Radio': 224,
 'Death and the Maiden': 225,
 'Dolores Claiborne': 226,
 'Dumb and Dumber': 227,
 'Eat Drink Man Woman': 228,
 'Exotica': 229,
 'Exit to Eden': 230,
 'Ed Wood': 231,
 'French Kiss': 232,
 'Forget Paris': 233,
 'Far from Home: The Adventures of Yellow Dog': 234,
 'A Goofy Movie': 235,
 'Hideaway': 236,
 'Fluke': 237,
 'Farinelli': 238,
 'Gordy': 239,
 'Gumby: The Movie': 240,
 'The Glass Shield': 241,
 'Hoop Dreams': 242,
 'Heavenly Creatures': 243,
 'Houseguest': 244,
 'Immortal Beloved': 245,
 'Heavyweights': 246,
 'The Hunted': 6081,
 'I.Q.': 248,
 'Interview with the Vampire': 249,
 'Jefferson in Paris': 250,
 'The Jerky Boys': 251,
 'Junior': 252,
 'Just Cause': 253,
 "A Kid in King Arthur's Court": 254,
 'Kiss of Death': 10602,
 'Star Wars': 256,
 'Little Women': 6902,
 'A Little Princess': 258,
 'Ladybird Ladybird': 259,
 "L'Enfer": 260,
 'Like Water for Chocolate': 261,
 'Legends of the Fall': 262,
 'Major Payne': 263,
 'Little Odessa': 264,
 'Mi Vida Loca': 265,
 'Love Affair': 6688,
 'Losing Isaiah': 267,
 'The Madness of King George': 268,
 "Mary Shelley's Frankenstein": 269,
 'Man of the House': 9731,
 'Mixed Nuts': 271,
 'Milk Money': 272,
 'Miracle on 34th Street': 2285,
 'Miami Rhapsody': 274,
 'My Family': 275,
 'Murder in the First': 276,
 "Nobody's Fool": 8889,
 'Nell': 278,
 'New Jersey Drive': 279,
 'New York Cop': 280,
 'Beyond Bedlam': 281,
 'Nemesis 2 - Nebula': 282,
 'Nina Takes a Lover': 283,
 'Natural Born Killers': 284,
 'Only You': 285,
 'Once Were Warriors': 286,
 'Poison Ivy II: Lily': 287,
 'Outbreak': 288,
 'Leon: The Professional': 289,
 'The Perez Family': 290,
 "A Pyromaniac's Love Story": 291,
 'Pulp Fiction': 292,
 'Panther': 293,
 'Pushing Hands': 294,
 'Priest': 17108,
 'Quiz Show': 296,
 'Picture Bride': 297,
 'Queen Margot': 298,
 'The Quick and the Dead': 13489,
 'Roommates': 300,
 'Prêt-à-Porter': 301,
 'Three Colors: Red': 302,
 'Three Colors: Blue': 303,
 'Three Colors: White': 304,
 'Red Firecracker, Green Firecracker': 305,
 'Rent-a-Kid': 306,
 'Relative Fear': 307,
 'Stuart Saves His Family': 308,
 'The Swan Princess': 309,
 'The Secret of Roan Inish': 310,
 'The Specialist': 311,
 'Stargate': 312,
 'The Santa Clause': 313,
 'The Shawshank Redemption': 314,
 'Shallow Grave': 315,
 'Suture': 316,
 'Strawberry and Chocolate': 317,
 'Swimming with Sharks': 318,
 'The Sum of Us': 319,
 'Senior Trip': 320,
 'To Live': 321,
 'Tank Girl': 322,
 'Tales from the Crypt: Demon Knight': 323,
 'Star Trek: Generations': 324,
 'Tales from the Hood': 325,
 'Tom & Viv': 326,
 'Village of the Damned': 2440,
 'Tommy Boy': 328,
 'Vanya on 42nd Street': 329,
 'The Underneath': 330,
 'The Walking Dead': 7659,
 "What's Eating Gilbert Grape": 332,
 'Virtuosity': 333,
 'While You Were Sleeping': 334,
 'The War': 19158,
 'Double Happiness': 336,
 "Muriel's Wedding": 337,
 'The Baby-Sitters Club': 338,
 'Ace Ventura: Pet Detective': 339,
 'The Adventures of Priscilla, Queen of the Desert': 340,
 'Backbeat': 341,
 'Bitter Moon': 342,
 'Bullets Over Broadway': 343,
 'Clear and Present Danger': 344,
 'The Client': 345,
 'Corrina, Corrina': 346,
 'Crooklyn': 347,
 'The Crow': 348,
 'Cobb': 349,
 'The Flintstones': 350,
 'Forrest Gump': 351,
 'Four Weddings and a Funeral': 352,
 'Higher Learning': 353,
 'I Like It Like That': 354,
 'I Love Trouble': 355,
 'It Could Happen to You': 356,
 'The Jungle Book': 1969,
 'The Wonderful, Horrible Life of Leni Riefenstahl': 358,
 'The Lion King': 359,
 'Little Buddha': 360,
 'New Nightmare': 361,
 'The Mask': 362,
 'Maverick': 363,
 'Mrs. Parker and the Vicious Circle': 364,
 'The Naked Gun 33⅓: The Final Insult': 365,
 'The Paper': 366,
 'Reality Bites': 367,
 'Red Rock West': 368,
 'Ri¢hie Ri¢h': 369,
 'Safe Passage': 370,
 'The River Wild': 371,
 'Speed': 372,
 'Speechless': 373,
 'Timecop': 374,
 'True Lies': 375,
 'When a Man Loves a Woman': 376,
 'Wolf': 11656,
 'Wyatt Earp': 378,
 'Bad Company': 5292,
 'A Man of No Importance': 380,
 'S.F.W.': 381,
 'A Low Down Dirty Shame': 382,
 'Boys Life: Three Stories of Love, Lust, and Liberation': 383,
 'Colonel Chabert': 384,
 'Faster, Pussycat! Kill! Kill!': 385,
 "Jason's Lyric": 386,
 'The Secret Adventures of Tom Thumb': 387,
 'Street Fighter': 388,
 'Coldblooded': 389,
 'Desert Winds': 390,
 'Fall Time': 391,
 'The Fear': 392,
 'Frank and Ollie': 393,
 'Girl in the Cadillac': 394,
 'Homage': 395,
 'Mirage': 10938,
 'Open Season': 11311,
 'Dos Crímenes': 398,
 'Brother Minister: The Assassination of Malcolm X': 399,
 'Highlander: The Final Dimension': 400,
 'Federal Hill': 401,
 'In the Mouth of Madness': 402,
 '8 Seconds': 403,
 'Above the Rim': 404,
 'Addams Family Values': 405,
 'Martin Lawrence: You So Crazy': 406,
 'The Age of Innocence': 19762,
 'Airheads': 408,
 'The Air Up There': 409,
 'Another Stakeout': 410,
 'Bad Girls': 411,
 'Barcelona': 412,
 'Being Human': 413,
 'The Beverly Hillbillies': 414,
 'Beverly Hills Cop III': 415,
 'Black Beauty': 8202,
 'Blink': 417,
 'Blown Away': 18154,
 'Blue Chips': 419,
 'Blue Sky': 420,
 'Body Snatchers': 421,
 'Boxing Helena': 422,
 'A Bronx Tale': 423,
 'Cabin Boy': 424,
 'Calendar Girl': 425,
 "Carlito's Way": 426,
 "City Slickers II: The Legend of Curly's Gold": 427,
 'Clean Slate': 428,
 'Cliffhanger': 429,
 'Coneheads': 430,
 'Color of Night': 431,
 'Cops & Robbersons': 432,
 'The Cowboy Way': 433,
 'Dangerous Game': 434,
 'Dave': 435,
 'Dazed and Confused': 436,
 'Demolition Man': 437,
 'The Endless Summer 2': 438,
 'Even Cowgirls Get the Blues': 439,
 'Fatal Instinct': 440,
 'Farewell My Concubine': 441,
 'The Favor': 442,
 'Fearless': 11051,
 'Fear of a Black Hat': 444,
 'With Honors': 445,
 'Flesh and Bone': 446,
 "Widows' Peak": 447,
 'For Love or Money': 448,
 'The Firm': 19164,
 'Free Willy': 450,
 'Fresh': 451,
 'The Fugitive': 12175,
 'Geronimo: An American Legend': 453,
 'The Getaway': 7577,
 'Getting Even with Dad': 455,
 'Go Fish': 456,
 'A Good Man in Africa': 457,
 'Guilty as Sin': 458,
 'Hard Target': 459,
 'Heaven & Earth': 460,
 'Hot Shots! Part Deux': 461,
 'Live Nude Girls': 462,
 'The Englishman Who Went Up a Hill But Came Down a Mountain': 463,
 'The House of the Spirits': 464,
 'House Party 3': 465,
 'The Hudsucker Proxy': 466,
 "I'll Do Anything": 467,
 'In the Army Now': 468,
 'In the Line of Fire': 469,
 'In the Name of the Father': 470,
 'The Inkwell': 471,
 "What's Love Got to Do with It": 472,
 'Jimmy Hollywood': 473,
 'Judgment Night': 474,
 'Jurassic Park': 475,
 'Kalifornia': 476,
 'Killing Zoe': 477,
 'King of the Hill': 478,
 'Lassie': 11227,
 'Last Action Hero': 480,
 'Life With Mikey': 481,
 'Lightning Jack': 482,
 'M. Butterfly': 483,
 'Made in America': 484,
 'Malice': 485,
 'The Man without a Face': 486,
 'Manhattan Murder Mystery': 487,
 'Menace II Society': 488,
 'Executive Decision': 489,
 'In the Realm of the Senses': 490,
 'What Happened Was...': 491,
 'Much Ado About Nothing': 492,
 'Mr. Jones': 493,
 'Mr. Wonderful': 494,
 'Mrs. Doubtfire': 495,
 'Naked': 496,
 'The Next Karate Kid': 497,
 'The New Age': 498,
 'No Escape': 499,
 'North': 15555,
 'Orlando': 501,
 'A Perfect World': 502,
 'Philadelphia': 503,
 'The Piano': 504,
 'Poetic Justice': 505,
 'The Program': 506,
 'The Puppet Masters': 507,
 'Radioland Murders': 508,
 'The Ref': 509,
 'The Remains of the Day': 510,
 'Renaissance Man': 511,
 'Rising Sun': 512,
 'The Road to Wellville': 513,
 'RoboCop 3': 514,
 'Robin Hood: Men in Tights': 515,
 'Romeo Is Bleeding': 516,
 'Romper Stomper': 517,
 'Ruby in Paradise': 518,
 'Rudy': 519,
 'The Saint of Fort Washington': 520,
 'Savage Nights': 521,
 "Schindler's List": 522,
 'The Scout': 523,
 'Searching for Bobby Fischer': 524,
 'Second Best': 525,
 'The Secret Garden': 8467,
 'Serial Mom': 527,
 'The Shadow': 528,
 'Shadowlands': 529,
 'Short Cuts': 530,
 'A Simple Twist of Fate': 531,
 'Sirens': 532,
 'Six Degrees of Separation': 533,
 'Sleepless in Seattle': 534,
 'Sliver': 535,
 'Blade Runner': 536,
 'Son in Law': 537,
 'So I Married an Axe Murderer': 538,
 'Striking Distance': 539,
 'Harem': 540,
 'Super Mario Bros.': 541,
 'Surviving the Game': 542,
 'Terminal Velocity': 543,
 'Thirty Two Short Films About Glenn Gould': 544,
 'Threesome': 545,
 'The Nightmare Before Christmas': 546,
 'The Three Musketeers': 18589,
 'Tombstone': 548,
 'Trial by Jury': 549,
 'True Romance': 550,
 'The War Room': 551,
 'The Pagemaster': 552,
 'Paris, France': 553,
 'The Beans of Egypt, Maine': 554,
 'Killer': 18114,
 'Welcome to the Dollhouse': 556,
 'Germinal': 557,
 'Chasers': 558,
 'Cronos': 559,
 'Naked in New York': 560,
 'Kika': 561,
 'Bhaji on the Beach': 562,
 'Little Big League': 563,
 'The Slingshot': 564,
 'Wide Eyed and Legless': 565,
 'Foreign Student': 566,
 'Ciao, Professore!': 567,
 'Spanking the Monkey': 568,
 'The Little Rascals': 569,
 'À la mode': 570,
 'Andre': 571,
 'The Escort': 572,
 'Princess Caraboo': 573,
 'The Celluloid Closet': 574,
 'Café au Lait': 575,
 'Dear Diary': 576,
 "I Don't Want to Talk About It": 577,
 'The Brady Bunch Movie': 578,
 'Home Alone': 579,
 'Ghost': 580,
 'Aladdin': 581,
 'Terminator 2: Judgment Day': 582,
 'Dances with Wolves': 583,
 'Tough and Deadly': 584,
 'Batman': 8603,
 'The Silence of the Lambs': 586,
 'Snow White and the Seven Dwarfs': 587,
 'Beauty and the Beast': 6912,
 'Pinocchio': 17942,
 'Pretty Woman': 590,
 'Window to Paris': 591,
 'The Wild Bunch': 592,
 'Love and a .45': 593,
 "The Wooden Man's Bride": 594,
 'A Great Day in Harlem': 595,
 'Bye Bye Love': 596,
 'One Fine Day': 597,
 'Candyman: Farewell to the Flesh': 598,
 'Century': 599,
 'Fargo': 600,
 'Homeward Bound II: Lost in San Francisco': 601,
 'Heavy Metal': 602,
 'Hellraiser: Bloodline': 603,
 'The Pallbearer': 604,
 'Jane Eyre': 16834,
 'Loaded': 606,
 'Bread and Chocolate': 607,
 'The Aristocats': 608,
 'The Flower of My Secret': 609,
 'Two Much': 610,
 'Ed': 611,
 'Scream of Stone': 612,
 'My Favorite Season': 613,
 'A Modern Affair': 614,
 'Condition Red': 615,
 'Halfaouine: Boy of the Terraces': 616,
 'A Thin Line Between Love and Hate': 617,
 'The Last Supper': 618,
 'Primal Fear': 619,
 'Rude': 620,
 'Carried Away': 621,
 'All Dogs Go to Heaven 2': 622,
 'Land and Freedom': 623,
 'Denise Calls Up': 624,
 'Theodore Rex': 625,
 'A Family Thing': 626,
 'Frisk': 627,
 'Sgt. Bilko': 628,
 'Jack & Sarah': 629,
 'Girl 6': 630,
 'Diabolique': 6964,
 'Little Indian, Big City': 632,
 'Roula': 633,
 'Peanuts – Die Bank zahlt alles': 634,
 'Happy Weekend': 635,
 'Nelly and Monsieur Arnaud': 636,
 'Courage Under Fire': 637,
 'Mission: Impossible': 638,
 'Cold Fever': 639,
 'Moll Flanders': 640,
 'The Superwife': 641,
 '301, 302': 642,
 'DragonHeart': 643,
 'Und keiner weint mir nach': 644,
 "My Mother's Courage": 645,
 'Eddie': 646,
 'Yankee Zulu': 647,
 "Billy's Holiday": 648,
 'Purple Noon': 649,
 'August': 12792,
 'James and the Giant Peach': 651,
 'Fear': 652,
 'Kids in the Hall: Brain Candy': 653,
 'Faithful': 654,
 'Underground': 655,
 'All Things Fair': 656,
 'Bloodsport II': 657,
 'Pather Panchali': 658,
 'The World of Apu': 659,
 'Mystery Science Theater 3000: The Movie': 660,
 'Tarantella': 661,
 'Space Jam': 662,
 'Barbarella': 663,
 'Hostile Intentions': 664,
 'They Bite': 665,
 'Some Folks Call It a Sling Blade': 666,
 'The Run of the Country': 667,
 'Alphaville': 668,
 'Coup de Torchon': 669,
 'Tigrero: A Film That Was Never Made': 670,
 'The Eye of Vichy': 671,
 'Windows': 672,
 "It's My Party": 673,
 'Country Life': 674,
 'Operation Dumbo Drop': 675,
 'The Promise': 17378,
 'Mrs. Winterbourne': 677,
 'Solo': 678,
 'Under The Domim Tree': 679,
 'The Substitute': 12800,
 'True Crime': 2448,
 'Butterfly Kiss': 682,
 'Feeling Minnesota': 683,
 'Delta of Venus': 684,
 'To Cross the Rubicon': 685,
 'Angus': 686,
 'Priest Daens': 687,
 'Faces': 688,
 'Boys': 17679,
 'The Quest': 690,
 'Cosi': 691,
 'Sunset Park': 692,
 'Mulholland Falls': 693,
 'The Truth About Cats & Dogs': 694,
 'Oliver & Company': 695,
 'Celtic Pride': 696,
 'Flipper': 8123,
 'Captives': 698,
 'Of Love and Shadows': 699,
 'Dead Man': 700,
 'The Horseman on the Roof': 701,
 'Switchblade Sisters': 702,
 'Mouth to Mouth': 11064,
 'The Visitors': 704,
 'Multiplicity': 705,
 'The Haunted World of Edward D. Wood, Jr.': 706,
 'Two Friends': 707,
 'The Craft': 708,
 'The Great White Hype': 709,
 'Last Dance': 710,
 'War Stories Our Mother Never Told Us': 711,
 'Cold Comfort Farm': 712,
 'Institute Benjamenta, or This Dream People Call Human Life': 713,
 "Heaven's Prisoners": 714,
 'Original Gangstas': 715,
 'The Rock': 716,
 'Getting Away with Murder': 717,
 'Cemetery Man': 718,
 'Twister': 7430,
 'Barb Wire': 720,
 'Le Garçu': 721,
 'Honeymoon': 19937,
 'Ghost in the Shell': 723,
 'Thinner': 724,
 'Spy Hard': 725,
 'Brothers in Trouble': 726,
 'A Close Shave': 727,
 'Force of Evil': 728,
 'The Stupids': 729,
 'The Arrival': 730,
 'The Man from Down Under': 731,
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb': 732,
 'Careful': 733,
 'Vermont Is for Lovers': 734,
 'A Month by the Lake': 735,
 'Gold Diggers: The Secret of Bear Mountain': 736,
 'Kim': 737,
 'Carmen Miranda: Bananas Is My Business': 738,
 'Ashes of Time': 739,
 'The Jar': 740,
 'Maya Lin: A Strong Clear Vision': 741,
 'Stalingrad': 742,
 'The Phantom': 15495,
 'Striptease': 744,
 'The Last of the High Kings': 745,
 'Heavy': 746,
 'Jack': 747,
 'I Shot Andy Warhol': 748,
 'The Grass Harp': 749,
 "Someone Else's America": 750,
 'Life is Rosy': 751,
 'Quartier Mozart': 752,
 'Touki Bouki': 753,
 "God's Gift": 754,
 'Spirits of the Dead': 755,
 'Babyfever': 756,
 "Pharaoh's  Army": 757,
 'Trainspotting': 758,
 'Til There Was You': 759,
 'Independence Day': 760,
 'Stealing Beauty': 761,
 'The Fan': 5518,
 'The Hunchback of Notre Dame': 8303,
 'The Cable Guy': 764,
 'Kingpin': 765,
 'Eraser': 766,
 'The Gate of Heavenly Peace': 767,
 'The Nutty Professor': 2027,
 'I, the Worst of All': 769,
 'An Unforgettable Summer': 770,
 'A Hungarian Fairy Tale': 771,
 'My Life and Times With Antonin Artaud': 772,
 'Midnight Dancers': 773,
 'Somebody to Love': 774,
 'A Very Natural Thing': 775,
 'The Old Lady Who Walked in the Sea': 776,
 'Daylight': 18928,
 'The Frighteners': 778,
 'Lone Star': 779,
 'Harriet the Spy': 780,
 'Phenomenon': 781,
 'Walking and Talking': 782,
 "She's the One": 783,
 'A Time to Kill': 784,
 'American Buffalo': 785,
 'Rendezvous in Paris': 786,

In [ ]:
def ck_s_t(t, cosine_sim = cos ):
    idx = t_idx[t]
    c_sc = list(enumerate(cosine_sim[idx])) # 넘버링 #이누머-열거
    c_sc = sorted ( c_sc, key=lambda a:a[1] , reverse=True)
    return c_sc[0]

In [ ]:
ck_s_t('Toy Story')

(0, 1.0)

In [ ]:
def ck_s_t(t, cosine_sim = cos ):
    idx = t_idx[t]
    c_sc = list(enumerate(cosine_sim[idx])) # 넘버링 #이누머-열거
    c_sc = sorted ( c_sc, key=lambda a:a[1] , reverse=True)
    return c_sc[1] 
# [1] 유사도

In [ ]:
ck_s_t('Toy Story')

(15348, 0.5258229300737997)

In [ ]:
def ck_s_t(t, cosine_sim = cos ):
    idx = t_idx[t]
    c_sc = list(enumerate(cosine_sim[idx])) # 넘버링 #이누머-열거
    c_sc = sorted ( c_sc, key=lambda a:a[1] , reverse=True)
    m_d = c_sc[1:6] 
    m_i = [i[0]for i in m_d]
    return data['title'].iloc[m_i]

In [ ]:
ck_s_t('Toy Story')

15348               Toy Story 3
2997                Toy Story 2
10301    The 40 Year Old Virgin
8327                  The Champ
1071      Rebel Without a Cause
Name: title, dtype: object

In [ ]:
#자카드유사도

In [ ]:
A = set([1,2,3,4,5])
B = set([4,5,6,7,8,9])
A|B  # or   합집합

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
A&B #and 교집합

{4, 5}

In [ ]:
data1 = '나는 오늘 정말 피곤해 그래서 힘들어'.split()
data2 = '나는 오늘 정말 못해 그래서 힘들어'.split()
data3 = '나는 오늘 너무 즐거와 그래서 행복해'.split()

In [ ]:
data1

['나는', '오늘', '정말', '피곤해', '그래서', '힘들어']

In [ ]:
un=set(data1) | set(data2)
un

{'그래서', '나는', '못해', '오늘', '정말', '피곤해', '힘들어'}

In [ ]:
intd=set(data1) & set(data2)
intd

{'그래서', '나는', '오늘', '정말', '힘들어'}

In [ ]:
len(intd)/len(un) #이것이 유사도

0.7142857142857143

In [ ]:
un1=set(data1) | set(data3)
intd1=set(data1) & set(data3)
len(intd1)/len(un1) #이것이 유사도   #data1은 data2와 더 유사도가 높다

0.3333333333333333

In [ ]:
data1 = '나는 오늘 정말 피곤해 그래서 힘들어' 
data2 = '나는 오늘 정말 못해 그래서 힘들어' 
data3 = '나는 오늘 너무 즐거와 그래서 행복해'

In [ ]:
t_v = TfidfVectorizer()
m_data = t_v.fit_transform( [data1,data2,data3])
m_data.toarray()
#3개의 문장이 벡터화 점 찍혓다

array([[0.32999531, 0.32999531, 0.        , 0.        , 0.32999531,
        0.42492904, 0.        , 0.55873062, 0.        , 0.42492904],
       [0.32999531, 0.32999531, 0.        , 0.55873062, 0.32999531,
        0.42492904, 0.        , 0.        , 0.        , 0.42492904],
       [0.29360705, 0.29360705, 0.49711994, 0.        , 0.29360705,
        0.        , 0.49711994, 0.        , 0.49711994, 0.        ]])

In [ ]:
m_data.toarray().shape # 단어10개 피처10개 해당피처에 숫자값

(3, 10)

In [ ]:
#유클리드유사도   점과점사이의거리 (피타고라스정리활용)

In [ ]:
def f(A,B):
    return np.sqrt( np.sum((A-B)**2)  )

In [ ]:
m_data[0].toarray()

array([[0.32999531, 0.32999531, 0.        , 0.        , 0.32999531,
        0.42492904, 0.        , 0.55873062, 0.        , 0.42492904]])

In [ ]:
m_data.toarray()[0]

array([0.32999531, 0.32999531, 0.        , 0.        , 0.32999531,
       0.42492904, 0.        , 0.55873062, 0.        , 0.42492904])

In [ ]:
A = m_data.toarray()[0]
B = m_data.toarray()[1]
C = m_data.toarray()[2]

In [ ]:
f(A,B), f(A,C)

(0.7901644267844229, 1.1910777960950294)

In [ ]:
def e_f(m):
    return m/np.sum(m)
e_m_d = e_f(m_data) #정규화끝난매트릭스데이터

In [ ]:
from sklearn.metrics import euclidean_distances #유클리드거리 소문자-매소드
euclidean_distances(m_data[0:1], m_data[1:2]) #거리값

array([[0.79016443]])

In [ ]:
euclidean_distances(e_m_d[0:1], e_m_d[1:2])

array([[0.11021454]])

In [ ]:
euclidean_distances(e_m_d[0:1], e_m_d[2:])

array([[0.16613516]])

In [ ]:
# 멘하탄유사도

In [ ]:
from sklearn.metrics.pairwise import manhattan_distances
print( manhattan_distances(m_data[0:1], m_data[1:2])  , manhattan_distances(m_data[0:1], m_data[2:])  )
print( manhattan_distances(e_m_d[0:1], e_m_d[1:2])  ,manhattan_distances(m_data[0:1], m_data[2:])     )

[[1.11746125]] [[3.00911332]]
[[0.1558669]] [[3.00911332]]

In [ ]:

맨하탄유사도 :사각형격자로이루어진지도에서출발에서도착까지가로지르지않고라수잇는최단거리
코사인유사도 두벡터사이의코사인각도를구하는방법 -1~1  1에가까울수록유사함
              가장 널리쓰임   코사인세타=  a백dot b백/ a b  코드자체가 코사인세타
유클리디언유사도  엔차원 공간의 두 점 사이의 최단거리
자카드유사도  두문장을각단어의집합으로만든뒤집합을통해유사도르측정 일에가까울수록유사도가높음 영부터일사이의값을가짐

In [ ]:
data = [data1,data2,data3]
from tensorflow.keras.preprocessing.text import Tokenizer
tk = Tokenizer()
tk.fit_on_texts(data)
tk.index_word

NameError: ignored

In [ ]:
tk.texts_to_matrix(data, mode='count')

array([[0., 1., 1., 1., 1., 1., 1., 0., 0., 0., 0.],
       [0., 1., 1., 1., 1., 1., 0., 1., 0., 0., 0.],
       [0., 1., 1., 1., 0., 0., 0., 0., 1., 1., 1.]])

In [ ]:
tk.texts_to_matrix(data, mode='tfidf')

array([[0.        , 0.55961579, 0.55961579, 0.55961579, 0.69314718,
        0.69314718, 0.91629073, 0.        , 0.        , 0.        ,
        0.        ],
       [0.        , 0.55961579, 0.55961579, 0.55961579, 0.69314718,
        0.69314718, 0.        , 0.91629073, 0.        , 0.        ,
        0.        ],
       [0.        , 0.55961579, 0.55961579, 0.55961579, 0.        ,
        0.        , 0.        , 0.        , 0.91629073, 0.91629073,
        0.91629073]])

In [ ]:
from tensorflow.keras.preprocessing.text import Tokenizer

In [ ]:
from sklearn.datasets import fetch_20newsgroups #분류 문제 풀기
import pandas as pd
import numpy as np
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.utils import to_categorical  
import matplotlib.pyplot as plt

In [ ]:
w_data = fetch_20newsgroups()   #딕셔너리? 데이터 로드
w_data.keys()

dict_keys(['data', 'filenames', 'target_names', 'target', 'DESCR'])

In [ ]:
X_data = w_data.data #data 시리즈슬라이스
y_data = w_data.target #타겟시리즈슬라이스

In [ ]:
len(X_data), len(y_data) #txt라이상치확인어렵다
#

(11314, 11314)

In [ ]:
len(np.unique(X_data)), np.unique(y_data)

(11314,
 array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19]))

In [ ]:
all_data = pd.DataFrame()
all_data['X']=X_data
all_data['y']=y_data
all_data

                                                       X   y
0      From: lerxst@wam.umd.edu (where's my thing)\nS...   7
1      From: guykuo@carson.u.washington.edu (Guy Kuo)...   4
2      From: twillis@ec.ecn.purdue.edu (Thomas E Will...   4
3      From: jgreen@amber (Joe Green)\nSubject: Re: W...   1
4      From: jcm@head-cfa.harvard.edu (Jonathan McDow...  14
...                                                  ...  ..
11309  From: jim.zisfein@factory.com (Jim Zisfein) \n...  13
11310  From: ebodin@pearl.tufts.edu\nSubject: Screen ...   4
11311  From: westes@netcom.com (Will Estes)\nSubject:...   3
11312  From: steve@hcrlgw (Steven Collins)\nSubject: ...   1
11313  From: gunning@cco.caltech.edu (Kevin J. Gunnin...   8

[11314 rows x 2 columns]

In [ ]:
n_l = []
for i in X_data:
    print(i)
    n = len(i)
    n_l.append(n)
max(n_l), min(n_l) #맥스렌민렌

In [ ]:
tk = Tokenizer(num_words=10000 )  #num_words=
tk.fit_on_texts(X_data)
t_x_data = tk.texts_to_matrix(X_data) #매트릭스로꺼내기  입력도 매트릭스로
t_x_data.shape

(11314, 10000)

In [ ]:
type(X_data[0]) # 이게 str으로나오면 매트릭스로 전달해도 문제없다는 뜻

str

In [ ]:
t1_x_data = tk.texts_to_matrix(X_data, mode='count')
t1_x_data

array([[ 0.,  6.,  2., ...,  0.,  0.,  0.],
       [ 0.,  4.,  1., ...,  0.,  0.,  0.],
       [ 0., 21.,  6., ...,  0.,  0.,  0.],
       ...,
       [ 0., 12.,  1., ...,  0.,  0.,  0.],
       [ 0.,  3.,  2., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [ ]:
t2_x_data = tk.texts_to_matrix(X_data, mode='tfidf') #tf라는카운트에 가중치를곱
t2_x_data

#문장의벡터화

array([[0.        , 2.03303026, 1.26800369, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.73776026, 0.74890341, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 2.94532413, 2.09075818, ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 2.53779767, 0.74890341, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.52826285, 1.26800369, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [ ]:
X_data1 = t_x_data
X_data2 = t1_x_data
X_data3 = t2_x_data

In [ ]:
y다중클래스분류 y를 투카테

In [ ]:
Y_data = to_categorical(y_data)
Y_data

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [ ]:
len(X_data1), len(Y_data) ,len(X_data2),len(X_data3)

(11314, 11314, 11314, 11314)

In [ ]:
from sklearn.model_selection import train_test_split
#단어유무특징을갖는data
t_x_1, tt_x_1, t_y_1, tt_y_1 = train_test_split(X_data1, Y_data, random_state=1)
#단어 빈도수(카운트) 특징을갖는data
t_x_2, tt_x_2, t_y_2, tt_y_2 = train_test_split(X_data2, Y_data, random_state=1)
#단어 tfidf 가중치 특징을갖는data
t_x_3, tt_x_3, t_y_3, tt_y_3 = train_test_split(X_data3, Y_data, random_state=1)

In [ ]:
#다중클래스분류소프트맥스 아웃풋20개 인풋10000개

In [ ]:
#모델생성

from keras import Sequential # 모델
from keras.layers import SimpleRNN, LSTM, GRU,   Dense, Embedding   ,Dropout
from tensorflow.keras.optimizers import SGD, RMSprop, Adam

m = Sequential()
m.add( Dense( 256, input_shape=(10000,), activation='relu' ) )

m.add(Dropout(0.3))

m.add( Dense( 128, input_shape=(10000,),   ) )

m.add(Dropout(0.3))

m.add( Dense( 20, input_shape=(10000,), activation='softmax' ) )
m.compile(optimizer = 'adam' , loss='categorical_crossentropy'  , metrics=['accuracy'])  # 옵티마이저 알엠 기본값, 옵티마이저는 백프로파게이션값을 계산하는 함수다. 액티베이션은 인풋-아웃풋 과정에서 웨이트를 갱신하는 함수 # 로스펑션: 은 손실값을 계산하는 함수, 아웃풋기준 이진분류니까 binary, 다중분류면 sparse_categorical_crossentropy 다중분류인데 아웃풋을 원핫했으면 categorical_crossentropy : 아웃풋 원핫은 표현방법일 뿐 이진분류가 아니라 그대로 다중분류다 # mean_squared_error 회귀면 엠엣스이 이것만 기억 m.compile(loss='mse' metrics = ['mae'])

In [ ]:
hy = m.fit( t_x_1, t_y_1,  validation_data=(tt_x_1, tt_y_1 ),epochs=100   )  # 배치사이즈는 2의 배수로 #콜백사용시: 벨리데이션셋 권장 # 핏에 의한 가중치는 m 에 학습되어 있다 hy가 아니다. 딥러닝 모델은 여전히 m 이다. # 추가학습이 필요할 경우 그대로 아래칸에 복붙하면 애초에 에폭을 여러번 돌린 것과 같은 효과를 낼 수 있다.
#데이터를매트릭스로만들엇기떄문에 가능  시퀀셜데이터인데 시퀀셜모델없이 벡터화해서

Epoch 1/100
266/266 [==============================] - 9s 33ms/step - loss: 0.2112 - accuracy: 0.9472 - val_loss: 0.3820 - val_accuracy: 0.8989
Epoch 2/100
266/266 [==============================] - 10s 37ms/step - loss: 0.0805 - accuracy: 0.9862 - val_loss: 0.3654 - val_accuracy: 0.8968
Epoch 3/100
266/266 [==============================] - 8s 31ms/step - loss: 0.0556 - accuracy: 0.9899 - val_loss: 0.4178 - val_accuracy: 0.8915
Epoch 4/100
266/266 [==============================] - 10s 36ms/step - loss: 0.0432 - accuracy: 0.9941 - val_loss: 0.4180 - val_accuracy: 0.8989
Epoch 5/100
266/266 [==============================] - 10s 36ms/step - loss: 0.0204 - accuracy: 0.9973 - val_loss: 0.4346 - val_accuracy: 0.8964
Epoch 6/100
266/266 [==============================] - 10s 39ms/step - loss: 0.0318 - accuracy: 0.9940 - val_loss: 0.4941 - val_accuracy: 0.8809
Epoch 7/100
266/266 [==============================] - 8s 31ms/step - loss: 0.0406 - accuracy: 0.9912 - val_loss: 0.5969 - val_accuracy: 0.8646
Epoch 8/100
266/266 [==============================] - 7s 26ms/step - loss: 0.0227 - accuracy: 0.9948 - val_loss: 0.5006 - val_accuracy: 0.8943
Epoch 9/100
266/266 [==============================] - 7s 28ms/step - loss: 0.0190 - accuracy: 0.9962 - val_loss: 0.5093 - val_accuracy: 0.8957
Epoch 10/100
266/266 [==============================] - 7s 27ms/step - loss: 0.0152 - accuracy: 0.9975 - val_loss: 0.5102 - val_accuracy: 0.8947
Epoch 11/100
266/266 [==============================] - 7s 27ms/step - loss: 0.0152 - accuracy: 0.9975 - val_loss: 0.6437 - val_accuracy: 0.8735
Epoch 12/100
266/266 [==============================] - 7s 27ms/step - loss: 0.0251 - accuracy: 0.9936 - val_loss: 0.5933 - val_accuracy: 0.8883
Epoch 13/100
266/266 [==============================] - 7s 27ms/step - loss: 0.0268 - accuracy: 0.9949 - val_loss: 0.5796 - val_accuracy: 0.8862
Epoch 14/100
266/266 [==============================] - 7s 26ms/step - loss: 0.0256 - accuracy: 0.9945 - val_loss: 0.7305 - val_accuracy: 0.8738
Epoch 15/100
266/266 [==============================] - 7s 27ms/step - loss: 0.0868 - accuracy: 0.9889 - val_loss: 0.7858 - val_accuracy: 0.8784
Epoch 16/100
266/266 [==============================] - 7s 28ms/step - loss: 0.0740 - accuracy: 0.9853 - val_loss: 0.7221 - val_accuracy: 0.8650
Epoch 17/100
266/266 [==============================] - 12s 45ms/step - loss: 0.0201 - accuracy: 0.9948 - val_loss: 0.6428 - val_accuracy: 0.8848
Epoch 18/100
266/266 [==============================] - 10s 39ms/step - loss: 0.0285 - accuracy: 0.9954 - val_loss: 0.6334 - val_accuracy: 0.8844
Epoch 19/100
266/266 [==============================] - 10s 36ms/step - loss: 0.0312 - accuracy: 0.9951 - val_loss: 0.7116 - val_accuracy: 0.8855
Epoch 20/100
266/266 [==============================] - 10s 39ms/step - loss: 0.0518 - accuracy: 0.9934 - val_loss: 0.6651 - val_accuracy: 0.8925
Epoch 21/100
266/266 [==============================] - 9s 34ms/step - loss: 0.0274 - accuracy: 0.9936 - val_loss: 0.7246 - val_accuracy: 0.8894
Epoch 22/100
266/266 [==============================] - 8s 30ms/step - loss: 0.0211 - accuracy: 0.9965 - val_loss: 0.7265 - val_accuracy: 0.8911
Epoch 23/100
266/266 [==============================] - 9s 33ms/step - loss: 0.0308 - accuracy: 0.9940 - val_loss: 0.8872 - val_accuracy: 0.8685
Epoch 24/100
266/266 [==============================] - 9s 33ms/step - loss: 0.0268 - accuracy: 0.9936 - val_loss: 0.7324 - val_accuracy: 0.8879
Epoch 25/100
266/266 [==============================] - 9s 32ms/step - loss: 0.0086 - accuracy: 0.9979 - val_loss: 0.7114 - val_accuracy: 0.8936
Epoch 26/100
266/266 [==============================] - 9s 36ms/step - loss: 0.0102 - accuracy: 0.9982 - val_loss: 0.7264 - val_accuracy: 0.8929
Epoch 27/100
266/266 [==============================] - 10s 37ms/step - loss: 0.0145 - accuracy: 0.9974 - val_loss: 0.7171 - val_accuracy: 0.8964
Epoch 28/100
266/266 [==============================] - 10s 38ms/step - loss: 0.0121 - accuracy: 0.9975 - val_loss: 0.7365 - val_accuracy: 0.8982
Epoch 29/100
266/266 [==============================] - 11s 41ms/step - loss: 0.0248 - accuracy: 0.9943 - val_loss: 0.7391 - val_accuracy: 0.8964
Epoch 30/100
266/266 [==============================] - 9s 35ms/step - loss: 0.0133 - accuracy: 0.9974 - val_loss: 0.7957 - val_accuracy: 0.8911
Epoch 31/100
266/266 [==============================] - 6s 24ms/step - loss: 0.0213 - accuracy: 0.9961 - val_loss: 0.7999 - val_accuracy: 0.8915
Epoch 32/100
266/266 [==============================] - 6s 24ms/step - loss: 0.0260 - accuracy: 0.9949 - val_loss: 0.9027 - val_accuracy: 0.8848
Epoch 33/100
266/266 [==============================] - 7s 25ms/step - loss: 0.0360 - accuracy: 0.9938 - val_loss: 0.9718 - val_accuracy: 0.8834
Epoch 34/100
266/266 [==============================] - 6s 24ms/step - loss: 0.0207 - accuracy: 0.9975 - val_loss: 0.8926 - val_accuracy: 0.8841
Epoch 35/100
266/266 [==============================] - 6s 24ms/step - loss: 0.0115 - accuracy: 0.9975 - val_loss: 0.8611 - val_accuracy: 0.8890
Epoch 36/100
266/266 [==============================] - 6s 24ms/step - loss: 0.0117 - accuracy: 0.9978 - val_loss: 0.8668 - val_accuracy: 0.8890
Epoch 37/100
266/266 [==============================] - 6s 24ms/step - loss: 0.0116 - accuracy: 0.9976 - val_loss: 0.8646 - val_accuracy: 0.8908
Epoch 38/100
266/266 [==============================] - 7s 25ms/step - loss: 0.0075 - accuracy: 0.9982 - val_loss: 0.8920 - val_accuracy: 0.8915
Epoch 39/100
266/266 [==============================] - 6s 24ms/step - loss: 0.0081 - accuracy: 0.9985 - val_loss: 0.9188 - val_accuracy: 0.8830
Epoch 40/100
266/266 [==============================] - 7s 25ms/step - loss: 0.0309 - accuracy: 0.9941 - val_loss: 1.0957 - val_accuracy: 0.8671
Epoch 41/100
266/266 [==============================] - 7s 25ms/step - loss: 0.0161 - accuracy: 0.9959 - val_loss: 1.0234 - val_accuracy: 0.8742
Epoch 42/100
266/266 [==============================] - 7s 25ms/step - loss: 0.0311 - accuracy: 0.9960 - val_loss: 0.8708 - val_accuracy: 0.8876
Epoch 43/100
266/266 [==============================] - 7s 26ms/step - loss: 0.0113 - accuracy: 0.9967 - val_loss: 1.0032 - val_accuracy: 0.8890
Epoch 44/100
266/266 [==============================] - 7s 25ms/step - loss: 0.0637 - accuracy: 0.9897 - val_loss: 1.1187 - val_accuracy: 0.8791
Epoch 45/100
266/266 [==============================] - 7s 27ms/step - loss: 0.0176 - accuracy: 0.9962 - val_loss: 1.1629 - val_accuracy: 0.8745
Epoch 46/100
266/266 [==============================] - 7s 25ms/step - loss: 0.0106 - accuracy: 0.9976 - val_loss: 1.0151 - val_accuracy: 0.8802
Epoch 47/100
266/266 [==============================] - 6s 24ms/step - loss: 0.0106 - accuracy: 0.9975 - val_loss: 0.9451 - val_accuracy: 0.8890
Epoch 48/100
266/266 [==============================] - 6s 24ms/step - loss: 0.0074 - accuracy: 0.9986 - val_loss: 0.9171 - val_accuracy: 0.8915
Epoch 49/100
266/266 [==============================] - 7s 28ms/step - loss: 0.0071 - accuracy: 0.9978 - val_loss: 0.9828 - val_accuracy: 0.8819
Epoch 50/100
266/266 [==============================] - 6s 24ms/step - loss: 0.0107 - accuracy: 0.9981 - val_loss: 0.9305 - val_accuracy: 0.8834
Epoch 51/100
266/266 [==============================] - 6s 23ms/step - loss: 0.0067 - accuracy: 0.9980 - val_loss: 1.1113 - val_accuracy: 0.8816
Epoch 52/100
266/266 [==============================] - 6s 24ms/step - loss: 0.0279 - accuracy: 0.9968 - val_loss: 1.0103 - val_accuracy: 0.8869
Epoch 53/100
266/266 [==============================] - 6s 23ms/step - loss: 0.0145 - accuracy: 0.9969 - val_loss: 1.3859 - val_accuracy: 0.8735
Epoch 54/100
266/266 [==============================] - 7s 26ms/step - loss: 0.0160 - accuracy: 0.9967 - val_loss: 1.1623 - val_accuracy: 0.8872
Epoch 55/100
266/266 [==============================] - 7s 25ms/step - loss: 0.0178 - accuracy: 0.9958 - val_loss: 1.1011 - val_accuracy: 0.8837
Epoch 56/100
266/266 [==============================] - 6s 24ms/step - loss: 0.0085 - accuracy: 0.9982 - val_loss: 1.0551 - val_accuracy: 0.8922
Epoch 57/100
266/266 [==============================] - 6s 24ms/step - loss: 0.0097 - accuracy: 0.9978 - val_loss: 1.1185 - val_accuracy: 0.8887
Epoch 58/100
266/266 [==============================] - 7s 25ms/step - loss: 0.0274 - accuracy: 0.9976 - val_loss: 1.2674 - val_accuracy: 0.8763
Epoch 59/100
266/266 [==============================] - 7s 25ms/step - loss: 0.0087 - accuracy: 0.9975 - val_loss: 1.1147 - val_accuracy: 0.8890
Epoch 60/100
266/266 [==============================] - 6s 24ms/step - loss: 0.0224 - accuracy: 0.9978 - val_loss: 1.1442 - val_accuracy: 0.8844
Epoch 61/100
266/266 [==============================] - 6s 23ms/step - loss: 0.0100 - accuracy: 0.9976 - val_loss: 1.2449 - val_accuracy: 0.8798
Epoch 62/100
266/266 [==============================] - 6s 23ms/step - loss: 0.0161 - accuracy: 0.9973 - val_loss: 1.1827 - val_accuracy: 0.8922
Epoch 63/100
266/266 [==============================] - 6s 24ms/step - loss: 0.0101 - accuracy: 0.9984 - val_loss: 1.3806 - val_accuracy: 0.8809
Epoch 64/100
266/266 [==============================] - 6s 24ms/step - loss: 0.0195 - accuracy: 0.9971 - val_loss: 1.4515 - val_accuracy: 0.8834
Epoch 65/100
266/266 [==============================] - 6s 24ms/step - loss: 0.0173 - accuracy: 0.9967 - val_loss: 1.3102 - val_accuracy: 0.8826
Epoch 66/100
266/266 [==============================] - 7s 25ms/step - loss: 0.0075 - accuracy: 0.9989 - val_loss: 1.2926 - val_accuracy: 0.8883
Epoch 67/100
266/266 [==============================] - 6s 24ms/step - loss: 0.0049 - accuracy: 0.9989 - val_loss: 1.3228 - val_accuracy: 0.8812
Epoch 68/100
266/266 [==============================] - 7s 26ms/step - loss: 0.0047 - accuracy: 0.9980 - val_loss: 1.2392 - val_accuracy: 0.8894
Epoch 69/100
266/266 [==============================] - 6s 24ms/step - loss: 0.0065 - accuracy: 0.9982 - val_loss: 1.2751 - val_accuracy: 0.8823
Epoch 70/100
266/266 [==============================] - 6s 24ms/step - loss: 0.0194 - accuracy: 0.9975 - val_loss: 1.2723 - val_accuracy: 0.8802
Epoch 71/100
266/266 [==============================] - 7s 24ms/step - loss: 0.0217 - accuracy: 0.9960 - val_loss: 1.3095 - val_accuracy: 0.8879
Epoch 72/100
266/266 [==============================] - 7s 25ms/step - loss: 0.0084 - accuracy: 0.9982 - val_loss: 1.2863 - val_accuracy: 0.8901
Epoch 73/100
266/266 [==============================] - 7s 25ms/step - loss: 0.0057 - accuracy: 0.9988 - val_loss: 1.2948 - val_accuracy: 0.8855
Epoch 74/100
266/266 [==============================] - 7s 25ms/step - loss: 0.0194 - accuracy: 0.9972 - val_loss: 1.3160 - val_accuracy: 0.8837
Epoch 75/100
266/266 [==============================] - 7s 25ms/step - loss: 0.0190 - accuracy: 0.9967 - val_loss: 1.2729 - val_accuracy: 0.8894
Epoch 76/100
266/266 [==============================] - 7s 25ms/step - loss: 0.0069 - accuracy: 0.9982 - val_loss: 1.3029 - val_accuracy: 0.8901
Epoch 77/100
266/266 [==============================] - 7s 25ms/step - loss: 0.0180 - accuracy: 0.9976 - val_loss: 1.5223 - val_accuracy: 0.8780
Epoch 78/100
266/266 [==============================] - 7s 25ms/step - loss: 0.0153 - accuracy: 0.9978 - val_loss: 1.3664 - val_accuracy: 0.8841
Epoch 79/100
266/266 [==============================] - 7s 25ms/step - loss: 0.0034 - accuracy: 0.9986 - val_loss: 1.3756 - val_accuracy: 0.8834
Epoch 80/100
266/266 [==============================] - 6s 24ms/step - loss: 0.0136 - accuracy: 0.9969 - val_loss: 1.4165 - val_accuracy: 0.8834
Epoch 81/100
266/266 [==============================] - 6s 23ms/step - loss: 0.0116 - accuracy: 0.9974 - val_loss: 1.4805 - val_accuracy: 0.8766
Epoch 82/100
266/266 [==============================] - 6s 23ms/step - loss: 0.0075 - accuracy: 0.9991 - val_loss: 1.4163 - val_accuracy: 0.8922
Epoch 83/100
266/266 [==============================] - 6s 23ms/step - loss: 0.0138 - accuracy: 0.9982 - val_loss: 1.4418 - val_accuracy: 0.8805
Epoch 84/100
266/266 [==============================] - 6s 24ms/step - loss: 0.0092 - accuracy: 0.9982 - val_loss: 1.5115 - val_accuracy: 0.8805
Epoch 85/100
266/266 [==============================] - 6s 24ms/step - loss: 0.0088 - accuracy: 0.9991 - val_loss: 1.3735 - val_accuracy: 0.8862
Epoch 86/100
266/266 [==============================] - 6s 24ms/step - loss: 0.0083 - accuracy: 0.9986 - val_loss: 1.5814 - val_accuracy: 0.8770
Epoch 87/100
266/266 [==============================] - 6s 24ms/step - loss: 0.0058 - accuracy: 0.9989 - val_loss: 1.4399 - val_accuracy: 0.8915
Epoch 88/100
266/266 [==============================] - 7s 27ms/step - loss: 0.0077 - accuracy: 0.9981 - val_loss: 1.4599 - val_accuracy: 0.8904
Epoch 89/100
266/266 [==============================] - 6s 24ms/step - loss: 0.0073 - accuracy: 0.9989 - val_loss: 1.5386 - val_accuracy: 0.8901
Epoch 90/100
266/266 [==============================] - 6s 24ms/step - loss: 0.0073 - accuracy: 0.9986 - val_loss: 1.6201 - val_accuracy: 0.8809
Epoch 91/100
266/266 [==============================] - 6s 24ms/step - loss: 0.0216 - accuracy: 0.9963 - val_loss: 1.6653 - val_accuracy: 0.8816
Epoch 92/100
266/266 [==============================] - 6s 24ms/step - loss: 0.0038 - accuracy: 0.9985 - val_loss: 1.6035 - val_accuracy: 0.8812
Epoch 93/100
266/266 [==============================] - 7s 25ms/step - loss: 0.0087 - accuracy: 0.9979 - val_loss: 1.6910 - val_accuracy: 0.8855
Epoch 94/100
266/266 [==============================] - 7s 25ms/step - loss: 0.0074 - accuracy: 0.9986 - val_loss: 1.7276 - val_accuracy: 0.8777
Epoch 95/100
266/266 [==============================] - 7s 26ms/step - loss: 0.0125 - accuracy: 0.9980 - val_loss: 1.6483 - val_accuracy: 0.8841
Epoch 96/100
266/266 [==============================] - 7s 26ms/step - loss: 0.0629 - accuracy: 0.9939 - val_loss: 1.7230 - val_accuracy: 0.8844
Epoch 97/100
266/266 [==============================] - 7s 25ms/step - loss: 0.0366 - accuracy: 0.9961 - val_loss: 1.8538 - val_accuracy: 0.8745
Epoch 98/100
266/266 [==============================] - 7s 26ms/step - loss: 0.0301 - accuracy: 0.9962 - val_loss: 1.7659 - val_accuracy: 0.8841
Epoch 99/100
266/266 [==============================] - 7s 26ms/step - loss: 0.0174 - accuracy: 0.9965 - val_loss: 1.6524 - val_accuracy: 0.8844
Epoch 100/100
266/266 [==============================] - 7s 25ms/step - loss: 0.0194 - accuracy: 0.9969 - val_loss: 1.7338 - val_accuracy: 0.8862