# 정수 5개를 입력하면 절대값의 합 출력

In [2]:
a,b,c,d,e = map(int,input("정수 5개 입력:구문자 ' '").split())
abs(a)+abs(b)+abs(c)+abs(d)+abs(e)
#abs절대값''

정수 5개 입력:구문자 ' '-1 2 4 5 -6

18

# 정수 3개를 입력하면 3개 중 최솟값 출력

In [3]:
a,b,c = map(int,input('3개정수입력공백구분:').split())
#인풋3개중 최소
aaa=    c  if a>c else    a   if  a<b  else b           if  b<c   else c
print(aaa)

3개정수입력공백구분:2 1 4
1

# 0부터 10 사이의 정수 A, B를 인풋 시 B-A 출력

In [4]:
A, B =map(int,input().split())
if 0 < A and B < 10 :
    print(A-B)

3 5
-2

# 신호등 색상 입력 시 안내 문구를 출력

In [8]:
ck = input ('신호색상을 입력하시오:')[0].upper()     #소문자로입력해도 가능하게    어퍼로 
#r 빨간불 y 노란불 g 초록불
#   정지      경고    진행    을 출력
결과='잘못입력되엇습니다'
if ck=='R': 결과='정지'      #인풋값= 문자열    
elif ck=='Y' : 결과='경고'
elif ck=='G' :결과='진행'
print(f'신호내용:{결과}')

신호색상을 입력하시오:g
신호내용:진행

# 슬라이스 역주행 규칙 (스캔방향,스텝방향)

In [10]:
s = (0,1,2,3,4)
print(s[:-1:-1])  #빈튜플    # 종료지 원소4  스캔 오른쪽에서 왼쪽 

# 시작점:양극단 둘 중 하나 (스텝에서 방향성 받음)  끝 -1인덱    음수스텝   s튜플 오른쪽에서 왼쪽으로 스캔

#시작과 끝점이 둘다 비면 스텝에 의해 방향성만 잡고 전부 추출한다

#시작 또는 끝점 하나가 비면  [시작 점은 포함 끝점은 미포함]  양끝점 어느 한 곳에서 시작하는 스캔 - 스텝에 의해 그 방향성이 결정
  # 양수 스텝 : 그 컨테이너 왼쪽 끝에서 오른쪽으로 스캔
  # 음수 스텝 :             오른쪽      왼쪽
  # 시작점과 끝점에 의해 스캔의 브레이크나 추출시작지점만 바뀐다

#[시작::+]     [1,2,3,시작,5,6]     끝 엠티     양수스텝   > 컨태아너 왼쪽에서 오른쪽스캔        #  시작,5,6
#[시작::-]     [1,2,3,시작,5,6]    끝 엠티     음수스텝   >  컨태이너 오른쪽에서 왼쪽으로 스캔  #   시작 3 2 1
    
#[:종료:+]     [1,2,3,종료,5,6]    시작 엠티     양수스텝   >  컨태이너 왼쪽에서 오른쪽으로 스캔 #   1,2,3  
#[:종료:-]     [1,2,3,종료,5,6]    시작 엠티     음수스텝   >  컨태이너 오른쪽에서 왼쪽으로 스캔 #   6,5

()

# 사칙연산

In [11]:
a=7.5
b=2.5

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a-(b*3))#  >나머지연산으로수정
#ab가실수라 프린트도 실수
print(a%b)

10.0
5.0
18.75
3.0
0.0
0.0

# 구구단 출력

In [12]:
for i in range(1,10):
    print(f'[ {i} 단 ]') 
    for j in range(1,10):
        print(f'{i} * {j} = {i*j}') 
    print()

[ 1 단 ]
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9

[ 2 단 ]
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

[ 3 단 ]
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

[ 4 단 ]
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

[ 5 단 ]
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

[ 6 단 ]
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

[ 7 단 ]
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

[ 8 단 ]
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

[ 9 단 ]
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

# 개 그리기

In [13]:
print( '''|\_/|
|q p|   /}
( 0 )"""\\
|"^"`    |
||_/=\\\__|''')

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

# 행과 열을 인풋하면 자동으로 행렬을 출력 1

In [14]:
#  7.	행과 열을 입력받아 다음과 같이 출력하는 프로그램을 만드시오.
#  4 5 입력
#  1 2 3 4 5
#  2 4 6 8 10
#  3 6 9 12 15
#  4 8 12 16 20

inp_행, inp_열 = map(int,input("행과 열을 공백으로 구분하여 입력하세요.: ").split(' '))
list1=[]
for a in range(1,inp_행+1) :        # 1 2 3 4 행 선언 # 행만큼 실행하기위한 
        a_2 = a * inp_열             # 각 행당 열의 끝값 구하기
        for b in range(1,a_2+1):           # 행의 열값 전체뽑기
            if b % a == 0:                       # a의 배수만 뽑기
                list1.append(b)         #리스트1에 전체값 리스트로 넣기
list2=[]
for d in range(1,inp_행+1) :        #열의배수마다 줄바꿈을 위한 열의 배수를 담은 리스트2
    list2.append(d * inp_열)
for c in list1 : 
    if c in list2  :
        list2.remove(c)       #열의배수리스트 리스트2에 리무브를 활용하여 각 행당 한번의 줄바꿈만 실행
        print(c,end='\n')            
    else:
        print(c,end=' ')

행과 열을 공백으로 구분하여 입력하세요.: 3 5
1 2 3 4 5
2 4 6 8 10
3 6 9 12 15

# 행과 열을 인풋하면 자동으로 행렬을 출력 2

In [15]:
inp_열_배수=[]
inp_행, inp_열 = map(int,input("행과 열을 공백으로 구분하여 입력하세요.: ").split(' '))  #공백기준 행열 인풋
# 원소 수 행*열
inp_원소 = inp_행 * inp_열
#줄바꿈을위해. 열의 배수를 행을 이용하여 선언 열*1 열*2.. 열*행
for b in range(1,inp_행+1):
    inp_열_배수.append(b * inp_열)
for a in range(1,inp_원소+1) :
    if a in inp_열_배수 :
        print(a,end='\n')
        continue    # 열의배수에서 줄바꿈
    print(a,end=' ')

행과 열을 공백으로 구분하여 입력하세요.: 3 5
1 2 3 4 5
6 7 8 9 10
11 12 13 14 15

# 0과 10 사이의 두 수를 입력 받아 곱을 출력

In [16]:
A, B = map(int,input().split())
if 0 < A and B < 10:
    print(A*B)

3 5
15

# 시험 점수의 최고, 최저, 평균을 알려주는 프로그램

In [18]:
# 6.	n개의 과목 점수를 입력받아 최고점수, 최저점수, 평균을 출력하는 프로그램을 만드시오.
# (단, 사용자가 음수를 입력하면 프로그램이 종료되고 결과를 출력함).

# n : 5 입력
# 60 70 80 -1 입력
# 최고점수 : 80
# 최저점수 : 60
# 평균 : 70

n = int(input('과목의 개수를 입력하세요: ')) #과목수

list1 = [] 

for i in range(0, n):      # n과목만큼 인풋 반복
    num = int(input(f"{i+1}번째 과목의 점수를 입력하세요: "))
    if num < 0 :   #음수입력시 브레이크로 탈출
        break
    list1.append(num)     # 각 과목 점수를 넣은 리스트 만들기
print('최고점수 : ',max(list1)) # 최고점 맥스리스트
print('최소점수 : ',min(list1)) #최소점 민리스트
sum_1 = sum(list1)  # 리스트원소들의 합 구하기 썸리스트
average = sum_1 / len(list1)        #평균구하기
print('평균 : ',int(average))     # 평균을 정수로 받기

과목의 개수를 입력하세요: 3
1번째 과목의 점수를 입력하세요: 60
2번째 과목의 점수를 입력하세요: 70
3번째 과목의 점수를 입력하세요: 80
최고점수 :  80
최소점수 :  60
평균 :  70

# a+b 다양하게

In [19]:
a=100
b=200
print(a+b)
print(a,'+',b,'=',a+b,sep='')  # sep 디폴트: 띄어쓰기 > 빈문자로 띄어쓰기 삭제

print('%d+  %d=%d' %(a,b,a+b) )       # %d  :정수를 넣겠다     뒤에 %(a,b,a+b) : 앞 %d 에 각각각 넣을 정수 
   # %s면 문자
oo=print('%d+  %d=%d' %(a,b,a+b) ) 
print(type(oo))


# 정수+정수 = 넌타입?        #프린트는 > 넌타입이다


print('{1}+{0}={2}'.format(a,b,a+b))   # {}안에는 포맷괄호의 인덱스값 - 생략가능 - 생략시 왼쪽에서오른쪽 
                                            # {}안 포맷()안의 인덱스를 적어서 순서 바꾸기 가능 
print(f'{a}+{b}={a+b}')
 
print ( str(a)    +       "+"        +      str(b)      +     '='     +    str(a+b))
  # 전부 문자로 전환  프린트문자+문자는 연결
yy=print ( str(a)    +       "+"        +      str(b)      +     '='     +    str(a+b))
print(type(yy))

300
100+200=300
100+  200=300
100+  200=300
<class 'NoneType'>
200+100=300
100+200=300
100+200=300
100+200=300
<class 'NoneType'>

# 1부터 인풋까지 출력

In [20]:
n = int(input('정수입력'))
#1에서부터n까지하나식출력하는코드
#range(1,n+1)     #1에서n까지
for i in range(1,n+1):       # for 반복문  for변수in리스트:
    print(i,end='\t')  #\t탭간격 
    if i%4==0:
      print()

정수입력5
1	2	3	4
5

# 1+2+3+4+5

In [21]:
d=[1,2,3,4,5]
n=0
for i in d:
     n+=abs(i)  
print(n)         # 1+2+3+4+5

15

# 인풋의 배수는 제외하고 0~100 출력

In [22]:
# 3.	0~100까지 출력하시오.(단 사용자가 입력한 값의 배수는 출력하지 않음)

# 입력
# 5
# 출력
# 1,2,3,4,6,7,8,9…99

#1

n = int(input())
list=[]
for a in range(0,101):
    list.append(a)                         # list 는 0~100까지담긴리스트
b = list[ : : n ]                          # b 는  인풋의 배수가 담긴 리스트
list_sub_b = [x for x in list if x not in b]        # list리스트 빼기 b리스트 코드        리스트2원소 중 b에 없는 것만 뽑는 코드
for d in list_sub_b:
    if d == list_sub_b[-1]:              #마지막원소에 붙는 콤마를 없애기 위해 리스트의 -1인덱에서 end='' 후 브레이크
        print(d,end='') 
        break          
    print(d,end=',') # 리스트의 원소들을 하나씩 출력
print()

#2

n = int(input())
list=[]
for a in range(0,101):
    list.append(a)                         # list 는 0~100까지담긴리스트
b = list[ : : n ]                          # b 는  인풋의 배수가 담긴 리스트
list_sub_b = (x for x in list if x not in b)        # 제너레이터
for d in list_sub_b:
    print(d,end=',') # 리스트의 원소들을 하나씩 출력
print(end='\b')     #마지막 콤마 없애기    
print()

#3

n = int(input())
list=[]
for a in range(0,101):
    list.append(a)                         # list 는 0~100까지담긴리스트
b = list[ : : n ]                          # b 는  인풋의 배수가 담긴 리스트
list_sub_b = []       # 리스트빼기리스트
for x in list : 
    if x not in b:
        list_sub_b.append(x)  
for d in list_sub_b:
    print(d,end=',') # 리스트의 원소들을 하나씩 출력, 끝 줄바꿈>콤마
print(end='\b')     #마지막 콤마 없애기    

print()

#4

n = int(input())
list=[]
for a in range(0,101):
    list.append(a)                         # list 는 0~100까지담긴리스트
b = list[ : : n ]                          # b 는  인풋의 배수가 담긴 리스트
list_sub_b = []       # 리스트빼기리스트
for x in list : 
    if x not in b:
        list_sub_b.append(x)  
for d in list_sub_b:
    print(d,end=',') # 리스트의 원소들을 하나씩 출력, 끝 줄바꿈>콤마
print(end='\b')     #마지막 콤마5 없애기

5
1,2,3,4,6,7,8,9,11,12,13,14,16,17,18,19,21,22,23,24,26,27,28,29,31,32,33,34,36,37,38,39,41,42,43,44,46,47,48,49,51,52,53,54,56,57,58,59,61,62,63,64,66,67,68,69,71,72,73,74,76,77,78,79,81,82,83,84,86,87,88,89,91,92,93,94,96,97,98,99
4
1,2,3,5,6,7,9,10,11,13,14,15,17,18,19,21,22,23,25,26,27,29,30,31,33,34,35,37,38,39,41,42,43,45,46,47,49,50,51,53,54,55,57,58,59,61,62,63,65,66,67,69,70,71,73,74,75,77,78,79,81,82,83,85,86,87,89,90,91,93,94,95,97,98,99,
1

2
1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,73,75,77,79,81,83,85,87,89,91,93,95,97,99,