In [1]:
#불러오기

# 기본
import pandas as pd
import numpy as np

# 서브
from random import randint, uniform  # randint(a,b) a이상b이하에서 정수 '하나'를 뽑는다 유니폼은 소수하나
from scipy.stats import randint, uniform  # 랜덤랜드인트랑 조금 다르다 변수로 랜드인트/유니폼을 선언한 후 변수.rvs(사이즈값)까지 입력을 해야 어레이로 랜덤 값을 반환한다 / uniform(0,1).rvs(1000) 이렇게도 가능 0~1사이의 소수를 1000개 뽑는다

# 데이터 
from sklearn.model_selection import train_test_split   #데이터분할

# 데이터 정규화
from sklearn.preprocessing import MinMaxScaler # 정규화
from sklearn.preprocessing import StandardScaler  # 정규화 (제트스코어) 
from scipy.special import softmax # 소프트맥스 :0~1사이의 값으로 정규화하며 출력한다. 출력 값들의 총합은 항상 1이 되는 특성을 가졌다

# 데이터 분석
from scipy.special import expit  # 결정함수를 받아서 원소별 1값의 확률을 계산한다

# 시각화
import matplotlib.pyplot as plt   # 점그래프, 선그래프
import seaborn as sns  # 시본: 종합그래프
from sklearn.tree import plot_tree # 결정트리 선언,핏 후 plot_tree(결정트리변수) plt.figur(figsize=(숫자,숫자)) plt.show() 로 결정트리를 시각화 한다

# 모델
from sklearn.linear_model import  LogisticRegression, LinearRegression, Lasso,  Ridge   # 선형회귀 모델
from sklearn.linear_model import SGDRegressor, SGDClassifier  # 선형회귀 모델
from sklearn.neighbors import KNeighborsClassifier  # K 이웃 알고리즘 , 뉴데이터와 근접한 다른 밸류들을 찾아서 y를 예측하는 모델
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor # 결정트리 모델
from sklearn.ensemble import RandomForestClassifier # 베깅(의사결정트리) 결정트리 모델, 기존 결정트리의 단점을 보완하고 장점은 그대로 가져간다, 의
from sklearn.naive_bayes import GaussianNB # 분류

# 앙상블
from sklearn.ensemble import VotingClassifier

# 파라미터 최적화
from sklearn.model_selection import GridSearchCV # 모델을 검사해서 최적의 파라미터 값을 찾을 수 있게 도와준다
from sklearn.model_selection import RandomizedSearchCV # 최적파라미터찾기, 모든 경우를 연산하는 그리드서치와는 다르게 라이트하게 작동하는 것이 특징

# 모델 평가
from sklearn.metrics import mean_squared_error,  mean_absolute_error,   r2_score  # 회귀모델의 평가지표 -  ( 실y값, 모델의예측y)
from sklearn.model_selection import cross_validate # 변수 = cross_validate(모델,x_data,y_data) # 트레인+벨리데이션 셋을 스스로 여러번 나눠서 교차검증한다

# 혼돈 매트릭스
from sklearn.metrics import confusion_matrix  # 혼돈매트릭스
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score #혼돈매트릭스 성능평가

#
import sklearn
import sklearn.preprocessing
from sklearn.metrics import *
from sklearn.ensemble import RandomForestClassifier
 
import pandas as pd
import numpy as np
%matplotlib inline
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import norm

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [2]:

 #파일리드
train = pd.read_csv('train.csv' )
test = pd.read_csv('test.csv')
submission = pd.read_csv('sample_submission.csv')

In [33]:
train

       BEDROOMS  BATHROOMS  FLOOR_AREA  BUILD_YEAR    PRICE
0             5          2         266      2007.0   520000
1             5          4         301      2014.0   575000
2             4          2         220      1992.0   760000
3             2          1         185      1938.0  1230000
4             3          2         186      2004.0  2010000
...         ...        ...         ...         ...      ...
18505         4          2         198      2007.0   475000
18506         3          2         237      2010.0   485000
18507         3          1         110      1953.0   642000
18508         4          2         176      1988.0   491000
18509         4          1         109      1987.0   490000

[18510 rows x 5 columns]

In [34]:
import matplotlib.pyplot as plt
# train.hist(bins=50, figsize=(20,15)) # 종합그래프
# plt.show()

# 좋은시리즈
# floor area
# bedroom
# bathroom
# buildyear

In [4]:
import matplotlib.pyplot as plt
# sns.pairplot(train,hue='PRICE') #종합그래프
# plt.show()

In [6]:
# 필요 없는 시리즈 드랍
# train = train.drop(columns='시리즈')
# test = test.drop(columns='시리즈')

In [35]:
train.columns

Index(['BEDROOMS', 'BATHROOMS', 'FLOOR_AREA', 'BUILD_YEAR', 'PRICE'], dtype='object')

In [36]:
train.shape, test.shape

((18510, 5), (15146, 4))

In [9]:
test.columns

Index(['ID', 'ADDRESS', 'SUBURB', 'BEDROOMS', 'BATHROOMS', 'GARAGE',
       'LAND_AREA', 'FLOOR_AREA', 'BUILD_YEAR', 'CBD_DIST', 'NEAREST_STN',
       'NEAREST_STN_DIST', 'DATE_SOLD', 'POSTCODE', 'LATITUDE', 'LONGITUDE',
       'NEAREST_SCH', 'NEAREST_SCH_DIST', 'NEAREST_SCH_RANK'],
      dtype='object')

In [6]:
train.isnull().sum()

ID                     0
ADDRESS                0
SUBURB                 0
PRICE                  0
BEDROOMS               0
BATHROOMS              0
GARAGE              1367
LAND_AREA              0
FLOOR_AREA             0
BUILD_YEAR          1728
CBD_DIST               0
NEAREST_STN            0
NEAREST_STN_DIST       0
DATE_SOLD              0
POSTCODE               0
LATITUDE               0
LONGITUDE              0
NEAREST_SCH            0
NEAREST_SCH_DIST       0
NEAREST_SCH_RANK    6000
dtype: int64

In [7]:
train = train[['BEDROOMS', 'BATHROOMS','FLOOR_AREA', 'BUILD_YEAR','PRICE']]

In [8]:
train_x = train[['BEDROOMS', 'BATHROOMS','FLOOR_AREA', 'BUILD_YEAR']]
train_y = train['PRICE']
train_x.shape, train_y.shape

((18510, 4), (18510,))

In [9]:
np.unique(train_y)

array([  51000,   55000,   56100, ..., 2425000, 2430000, 2440000])

In [14]:
train_x.head()

   BEDROOMS  BATHROOMS  FLOOR_AREA  BUILD_YEAR
0         5          2         266      2007.0
1         5          4         301      2014.0
2         4          2         220      1992.0
3         2          1         185      1938.0
4         3          2         186      2004.0

In [15]:
train_y.head()

0     520000
1     575000
2     760000
3    1230000
4    2010000
Name: PRICE, dtype: int64

In [10]:
test = test[['BEDROOMS', 'BATHROOMS','FLOOR_AREA', 'BUILD_YEAR']]
test

       BEDROOMS  BATHROOMS  FLOOR_AREA  BUILD_YEAR
0             3          2         159      1950.0
1             4          3         341      2001.0
2             4          3         251      1982.0
3             3          2         169      2009.0
4             3          1         107      1993.0
...         ...        ...         ...         ...
15141         3          1         108      1996.0
15142         4          2         158      1998.0
15143         3          2         148      1950.0
15144         5          3         396      1990.0
15145         3          1         109      1990.0

[15146 rows x 4 columns]

In [17]:
train_x.shape, train_y.shape, test.shape

((18510, 4), (18510,), (15146, 4))

In [18]:
#전처리
train_x

       BEDROOMS  BATHROOMS  FLOOR_AREA  BUILD_YEAR
0             5          2         266      2007.0
1             5          4         301      2014.0
2             4          2         220      1992.0
3             2          1         185      1938.0
4             3          2         186      2004.0
...         ...        ...         ...         ...
18505         4          2         198      2007.0
18506         3          2         237      2010.0
18507         3          1         110      1953.0
18508         4          2         176      1988.0
18509         4          1         109      1987.0

[18510 rows x 4 columns]

In [19]:
train_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18510 entries, 0 to 18509
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   BEDROOMS    18510 non-null  int64
 1   BATHROOMS   18510 non-null  int64
 2   FLOOR_AREA  18510 non-null  int64
 3   BUILD_YEAR  16782 non-null  float64
dtypes: float64(1), int64(3)
memory usage: 578.6 KB

In [20]:
train_x.isnull().sum()

BEDROOMS         0
BATHROOMS        0
FLOOR_AREA       0
BUILD_YEAR    1728
dtype: int64

In [21]:
train_y.isnull().sum()

0

In [22]:
test.isnull().sum()

BEDROOMS         0
BATHROOMS        0
FLOOR_AREA       0
BUILD_YEAR    1427
dtype: int64

In [23]:
#결측지날리기 > 인덱스 리셋

In [24]:
train_x

       BEDROOMS  BATHROOMS  FLOOR_AREA  BUILD_YEAR
0             5          2         266      2007.0
1             5          4         301      2014.0
2             4          2         220      1992.0
3             2          1         185      1938.0
4             3          2         186      2004.0
...         ...        ...         ...         ...
18505         4          2         198      2007.0
18506         3          2         237      2010.0
18507         3          1         110      1953.0
18508         4          2         176      1988.0
18509         4          1         109      1987.0

[18510 rows x 4 columns]

In [25]:
train_x.isnull().sum()         # 결측치제거완료

BEDROOMS         0
BATHROOMS        0
FLOOR_AREA       0
BUILD_YEAR    1728
dtype: int64

In [11]:
train_x.shape ,train_y.shape , test.shape

((18510, 4), (18510,), (15146, 4))

In [14]:
test.isnull().sum()

BEDROOMS         0
BATHROOMS        0
FLOOR_AREA       0
BUILD_YEAR    1427
dtype: int64

In [27]:
#인덱스 리셋
# train_x = train_x.reset_index(drop=True)
# train_y = train_y.reset_index(drop=True)
# test = test.reset_index(drop=True)

In [28]:
train_x.shape ,train_y.shape , test.shape  
#인덱스 리셋 완료

((18510, 4), (18510,), (15146, 4))

In [29]:
train_x

       BEDROOMS  BATHROOMS  FLOOR_AREA  BUILD_YEAR
0             5          2         266      2007.0
1             5          4         301      2014.0
2             4          2         220      1992.0
3             2          1         185      1938.0
4             3          2         186      2004.0
...         ...        ...         ...         ...
18505         4          2         198      2007.0
18506         3          2         237      2010.0
18507         3          1         110      1953.0
18508         4          2         176      1988.0
18509         4          1         109      1987.0

[18510 rows x 4 columns]

In [15]:
for i in range(len(train_x.columns)):
        print(i,np.unique(train_x[train_x.columns[i]]), end='\n\n')  #a모든원소보기

0 [ 1  2  3  4  5  6  7  8  9 10]

1 [1 2 3 4 5 6]

2 [  1  13  17  18  19  22  23  27  30  37  45  46  52  53  55  56  58  59
  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77
  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95
  96  97  98  99 100 101 102 103 104 105 106 107 108 109 110 111 112 113
 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131
 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149
 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167
 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185
 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203
 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221
 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239
 240 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257
 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275
 276 277 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293
 294 295 296 297 298 299 300 301 302 303 304 305 306 307 308 309 310 311
 312 313 314 315 316 317 318 319 320 321 322 323 324 325 326 327 328 329
 330 331 332 333 334 335 336 337 338 339 340 341 342 343 344 345 346 347
 348 349 350 351 352 353 354 355 356 357 358 359 360 361 362 363 364 365
 366 367 368 369 370 371 372 373 374 375 376 377 378 379 380 381 382 383
 384 385 386 387 388 389 390 391 392 393 394 395 396 397 398 399 400 401
 402 403 404 405 406 407 409 411 412 413 414 415 416 417 418 419 420 421
 422 423 425 426 427 428 429 430 431 432 433 434 435 436 437 438 439 440
 441 442 445 446 447 448 449 450 451 452 453 455 457 458 460 462 464 465
 466 467 470 471 472 473 474 475 477 480 482 484 486 489 492 493 495 497
 498 500 501 505 506 507 510 512 515 517 519 520 521 524 525 530 535 536
 537 538 540 541 545 548 550 556 558 560 562 566 576 578 579 600 603 614
 644 696 700 706 746 764 806 808 849 870]

3 [1868. 1880. 1889. 1890. 1892. 1894. 1897. 1900. 1901. 1902. 1903. 1904.
 1905. 1907. 1908. 1910. 1912. 1913. 1914. 1915. 1916. 1917. 1918. 1919.
 1920. 1921. 1922. 1923. 1924. 1925. 1926. 1927. 1928. 1929. 1930. 1931.
 1932. 1933. 1934. 1935. 1936. 1937. 1938. 1939. 1940. 1941. 1942. 1945.
 1946. 1947. 1948. 1949. 1950. 1951. 1952. 1953. 1954. 1955. 1956. 1957.
 1958. 1959. 1960. 1961. 1962. 1963. 1964. 1965. 1966. 1967. 1968. 1969.
 1970. 1971. 1972. 1973. 1974. 1975. 1976. 1977. 1978. 1979. 1980. 1981.
 1982. 1983. 1984. 1985. 1986. 1987. 1988. 1989. 1990. 1991. 1992. 1993.
 1994. 1995. 1996. 1997. 1998. 1999. 2000. 2001. 2002. 2003. 2004. 2005.
 2006. 2007. 2008. 2009. 2010. 2011. 2012. 2013. 2014. 2015. 2016. 2017.
   nan]

In [31]:
train_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18510 entries, 0 to 18509
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   BEDROOMS    18510 non-null  int64
 1   BATHROOMS   18510 non-null  int64
 2   FLOOR_AREA  18510 non-null  int64
 3   BUILD_YEAR  16782 non-null  float64
dtypes: float64(1), int64(3)
memory usage: 578.6 KB

In [32]:
train_x.shape ,train_y.shape , test.shape  
#인덱스 리셋 완료

((18510, 4), (18510,), (15146, 4))

In [16]:

# 연속성 데이터 범위설정해서 라벨 붙이기
bins = [0 , 106.5 , 212.5,  318.5  , 424.5 , 530.5 ,  636.5  , 742.5  , 850] #주의  # 범위숫자에 걸리면 Nan값이 된다 # 범위 설정  5칸으루나눌려면 6개범위숫자
ck_data = [0,1,2,3,4,5,6,7] # 범위별 이름 (라벨)  #범위설정 len보다 1작게
c_data = pd.cut(train_x['FLOOR_AREA'],bins=bins, labels = ck_data)
train_x['FLOOR_AREA'] = c_data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [34]:
train_x

       BEDROOMS  BATHROOMS FLOOR_AREA  BUILD_YEAR
0             5          2          2      2007.0
1             5          4          2      2014.0
2             4          2          2      1992.0
3             2          1          1      1938.0
4             3          2          1      2004.0
...         ...        ...        ...         ...
18505         4          2          1      2007.0
18506         3          2          2      2010.0
18507         3          1          1      1953.0
18508         4          2          1      1988.0
18509         4          1          1      1987.0

[18510 rows x 4 columns]

In [17]:
bins = [0 , 106.5 , 212.5,  318.5  , 424.5 , 530.5 ,  636.5  , 742.5  , 850] #주의  # 범위숫자에 걸리면 Nan값이 된다 # 범위 설정  5칸으루나눌려면 6개범위숫자
ck_data = [0,1,2,3,4,5,6,7] # 범위별 이름 (라벨)  #범위설정 len보다 1작게
c_data = pd.cut(test['FLOOR_AREA'],bins=bins, labels = ck_data)
test['FLOOR_AREA'] = c_data
test

       BEDROOMS  BATHROOMS FLOOR_AREA  BUILD_YEAR
0             3          2          1      1950.0
1             4          3          3      2001.0
2             4          3          2      1982.0
3             3          2          1      2009.0
4             3          1          1      1993.0
...         ...        ...        ...         ...
15141         3          1          1      1996.0
15142         4          2          1      1998.0
15143         3          2          1      1950.0
15144         5          3          3      1990.0
15145         3          1          1      1990.0

[15146 rows x 4 columns]

In [18]:
bins = [1860, 1880 ,1900, 1920, 1940 ,1960, 1980, 2000, 2020] #주의  # 범위숫자에 걸리면 Nan값이 된다 # 범위 설정  5칸으루나눌려면 6개범위숫자
ck_data = [0,1,2,3,4,5,6,7] # 범위별 이름 (라벨)  #범위설정 len보다 1작게
c_data = pd.cut(train_x['BUILD_YEAR'],bins=bins, labels = ck_data)
train_x['BUILD_YEAR'] = c_data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [37]:
train_x

       BEDROOMS  BATHROOMS FLOOR_AREA BUILD_YEAR
0             5          2          2          7
1             5          4          2          7
2             4          2          2          6
3             2          1          1          3
4             3          2          1          7
...         ...        ...        ...        ...
18505         4          2          1          7
18506         3          2          2          7
18507         3          1          1          4
18508         4          2          1          6
18509         4          1          1          6

[18510 rows x 4 columns]

In [19]:
bins = [1860, 1880 ,1900, 1920, 1940 ,1960, 1980, 2000, 2020] #주의  # 범위숫자에 걸리면 Nan값이 된다 # 범위 설정  5칸으루나눌려면 6개범위숫자
ck_data = [0,1,2,3,4,5,6,7] # 범위별 이름 (라벨)  #범위설정 len보다 1작게
c_data = pd.cut(test['BUILD_YEAR'],bins=bins, labels = ck_data)
test['BUILD_YEAR'] = c_data
test

       BEDROOMS  BATHROOMS FLOOR_AREA BUILD_YEAR
0             3          2          1          4
1             4          3          3          7
2             4          3          2          6
3             3          2          1          7
4             3          1          1          6
...         ...        ...        ...        ...
15141         3          1          1          6
15142         4          2          1          6
15143         3          2          1          4
15144         5          3          3          6
15145         3          1          1          6

[15146 rows x 4 columns]

In [20]:
for i in range(len(train_x.columns)):
        print(train_x.columns[i],np.unique(train_x[train_x.columns[i]]), end='\n\n')

BEDROOMS [ 1  2  3  4  5  6  7  8  9 10]

BATHROOMS [1 2 3 4 5 6]

FLOOR_AREA [ 0.  1.  2.  3.  4.  5.  6.  7. nan]

BUILD_YEAR [ 0.  1.  2.  3.  4.  5.  6.  7. nan]

In [40]:
# 숫자 로 들어가서 공백제거 
# 2 3 4 5 6 7 8 9 

# 공백이 아니다  공백이면 ' 2 '으로 나옴       인트형이라 공백잇을수없음 내부에서 코드로 정해준 공백일 뿐 두자릿수형태를 유지하기 위한 칸임

In [21]:
type(train_x['BEDROOMS'][0]),type(train_x['BATHROOMS'][0])

(numpy.int64, numpy.int64)

In [22]:
for i in range(len(test.columns)):
        print(i,np.unique(test[test.columns[i]]), end='\n\n')

0 [1 2 3 4 5 6 7 8 9]

1 [ 1  2  3  4  5  6  7 16]

2 [0 1 2 3 4 5 6 7]

3 [ 0.  1.  2.  3.  4.  5.  6.  7. nan]

In [23]:
train_x

       BEDROOMS  BATHROOMS FLOOR_AREA BUILD_YEAR
0             5          2          2          7
1             5          4          2          7
2             4          2          2          6
3             2          1          1          3
4             3          2          1          7
...         ...        ...        ...        ...
18505         4          2          1          7
18506         3          2          2          7
18507         3          1          1          4
18508         4          2          1          6
18509         4          1          1          6

[18510 rows x 4 columns]

In [24]:
train_x.shape, train_y.shape, test.shape

((18510, 4), (18510,), (15146, 4))

In [25]:
train_x.isnull().sum(),train_y.isnull().sum(),test.isnull().sum()
#결측치

(BEDROOMS         0
 BATHROOMS        0
 FLOOR_AREA       1
 BUILD_YEAR    1728
 dtype: int64, 0, BEDROOMS         0
 BATHROOMS        0
 FLOOR_AREA       0
 BUILD_YEAR    1427
 dtype: int64)

In [26]:
for i in range(len(test.columns)):
        print(i,np.unique(test[test.columns[i]]), end='\n\n')

0 [1 2 3 4 5 6 7 8 9]

1 [ 1  2  3  4  5  6  7 16]

2 [0 1 2 3 4 5 6 7]

3 [ 0.  1.  2.  3.  4.  5.  6.  7. nan]

In [27]:
train_x.head(),train_y.head(),test.head(),train_x.shape, train_y.shape, test.shape

(   BEDROOMS  BATHROOMS FLOOR_AREA BUILD_YEAR
 0         5          2          2          7
 1         5          4          2          7
 2         4          2          2          6
 3         2          1          1          3
 4         3          2          1          7, 0     520000
 1     575000
 2     760000
 3    1230000
 4    2010000
 Name: PRICE, dtype: int64,    BEDROOMS  BATHROOMS FLOOR_AREA BUILD_YEAR
 0         3          2          1          4
 1         4          3          3          7
 2         4          3          2          6
 3         3          2          1          7
 4         3          1          1          6, (18510, 4), (18510,), (15146,
  4))

In [48]:
#범위먼저설정하고 스플릿해보기

In [28]:
# 아웃풋 범위설정
np.linspace(54999,2440001,11) #범위설정구간확인 a부터b까지 에이비포함11개
# 연속성 데이터 범위설정해서 라벨 붙이기
bins = [54999. , 293499.2, 531999.4,770499.6,1008999.8, 1247500. ,1486000.2, 1724500.4, 1963000.6, 2201500.8, 2440001. ]#주의  # 범위숫자에 걸리면 Nan값이 된다 # 범위 설정  5칸으루나눌려면 6개범위숫자
ck_data = [0,1,2,3,4,5,6,7,8,9] # 범위별 이름 (라벨)  #범위설정 len보다 1작게
c_data = pd.cut(train_y,bins=bins, labels = ck_data)
train_y = c_data

In [68]:
train_y

0        1
1        2
2        2
3        4
4        8
        ..
18505    1
18506    1
18507    2
18508    1
18509    1
Name: PRICE, Length: 18510, dtype: category
Categories (10, int64): [0 < 1 < 2 < 3 ... 6 < 7 < 8 < 9]

In [30]:
# 결측처리 필나
train_x.isnull().sum()

BEDROOMS         0
BATHROOMS        0
FLOOR_AREA       1
BUILD_YEAR    1728
dtype: int64

In [52]:
# 빌드이어에 평균값으로 채워주기
#필나  평균
train_x.mean()
train_x['BUILD_YEAR'] = train_x['BUILD_YEAR'].fillna( 평균 값 )
#트랜스폼으로 채우기

# 결측치 있는 곳의 평균값 구하는 방법?

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [53]:
train_x['BUILD_YEAR'].isnull().sum()

0

In [47]:
train_x['FLOOR_AREA'] = train_x['FLOOR_AREA'].fillna( 평균 값 )

       BEDROOMS  BATHROOMS FLOOR_AREA BUILD_YEAR
0             5          2          2          7
1             5          4          2          7
2             4          2          2          6
3             2          1          1          3
4             3          2          1          7
...         ...        ...        ...        ...
18505         4          2          1          7
18506         3          2          2          7
18507         3          1          1          4
18508         4          2          1          6
18509         4          1          1          6

[18510 rows x 4 columns]

In [39]:
train_y.isnull().sum()

1

In [37]:
test.isnull().sum()

BEDROOMS         0
BATHROOMS        0
FLOOR_AREA       0
BUILD_YEAR    1427
dtype: int64

In [40]:
from sklearn.model_selection import train_test_split
t_x, val_x,   t_y,  val_y   =  train_test_split(train_x,train_y,random_state=42,stratify=train_y,test_size=0.3)

ValueError: ignored

In [ ]:
t_x.shape, val_x.shape, t_y.shape, val_y.shape , test.shape

In [ ]:
# 정규화 회귀 모델

In [ ]:
#정규화

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
train_x = scaler.fit(t_x).transform(t_x)  # .fit(train_x).transformt
test = scaler.fit(t_x).transform(test)
train_x.shape, train_y.shape, test.shape

In [ ]:
from sklearn.linear_model import Lasso,  Ridge

In [ ]:
model = Ridge().fit(t_x,t_y)
model.score(t_x,t_y), model.score(val_x,val_y)

In [ ]:
t_x.shape, val_x.shape, t_y.shape, val_y.shape , test.shape

In [ ]:

 #파일리드
train = pd.read_csv('train.csv' )
test = pd.read_csv('test.csv')
submission = pd.read_csv('sample_submission.csv')

In [ ]:
result = model.predict(test)

In [ ]:
result.shape

In [ ]:
submission['PRICE']= result  #서브미션은 정답제출파일 리드할 때 변수 / 인컴은 정답넣는 시리즈 / 리절트는 프레딕트로 얻은 최종 아웃풋
submission.to_csv('result.csv')
submission.head()